# Data Understanding and Data Visualization


#### Objectives


The objectives to be achieved with this notebook are as follows:

-   Explore the data to find out its characteristics or features useful for creating our Recommender System.
-   Prepare and convert the data to a more appropriate format.
-   Visualise the data in order to understand their relationships.


#### Table of contents
           
1. [Data Extraction](#de)
2. [Import Libraries](#il)
3. [Board Games Data Understanding](#bgdu)
      - [Load Data](#bgld)
      - [Data Cleaning](#bgdc)
      - [Data Engineering](#bgde)
4. [Users Data Understanding](#udu)
      - [Load Data](#uld)
      - [Data Cleaning](#udc)
      - [Data Engineering](#ude)
5. [Data Visualization](#dv)

<a id="de"></a>

## 1. Data Extraction

For this analysis we will use two datasets. A dataset containing board games and their main characteristics. And a dataset of users whose characteristics are related to the games that each user owns and their own evaluations of those games.

The data pertaining to the games dataset have been obtained from the Board Game Geek [BGG](https://boardgamegeek.com/). The download date of the dataset is 26/03/2021.


The data belonging to the user dataset has been acquired from WebScraping on a page associated with the BGG. After this process, different files were obtained, one for each user, the content of which corresponds to the data for that user only.

<a id="il"></a>

## 2. Import libraries

In [1]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import shutil
pd.options.display.max_columns = None

<a id="bgdu"></a>

## 3. Board Games Data Understanding

<a id="bgld"></a>

- ### Load Data

In [2]:
path='/Users/postigo/Google Drive/BoardGamesData' #Actualizar tras crear Prepair the Env
file = os.path.join(path, "bgg_GameItem.csv")

In [27]:
dfbg=pd.read_csv(file, low_memory=False)
dfbg.head()

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,max_players_rec,min_players_best,max_players_best,min_age,min_age_rec,min_time,max_time,category,mechanic,cooperative,compilation,compilation_of,family,implementation,integration,rank,num_votes,avg_rating,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
0,1,Die Macher,1986.0,5497,1,"12517,4959","133,2,2726,15108,39249,11652,5382,8147",3.0,5.0,4.0,5.0,5.0,5.0,14.0,14.031250,240.0,240.0,"1021,1026,1001","2916,2080,2012,2072,2040,2020",0,0,NaN,"10643,34116,91",NaN,NaN,286.0,5224,7.62849,1.57747,7.13389,4.3245,1.166667,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Dragonmaster,1981.0,5497,8384,12424,"64,20",3.0,4.0,3.0,4.0,3.0,4.0,12.0,NaN,30.0,30.0,"1002,1010",2009,0,0,NaN,7005,2174,NaN,3718.0,553,6.63055,1.44269,5.79353,1.9630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Samurai,1998.0,5497,2,11883,"17,133,267,29,7340,7335,41,2973,4617,1391,8291...",2.0,4.0,2.0,4.0,3.0,3.0,10.0,9.793103,30.0,60.0,"1009,1035","2080,2040,2026,2846,2004,2002",0,0,NaN,"10634,60111,42,28732",NaN,NaN,209.0,14736,7.45062,1.18523,7.24469,2.4885,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Tal der KÃ¶nige,1992.0,NaN,8008,2277,37,2.0,4.0,2.0,4.0,2.0,4.0,12.0,NaN,60.0,60.0,1050,"2001,2080,2012,2004",0,0,NaN,"64229,6471,11505",NaN,NaN,4951.0,339,6.59888,1.23291,5.69032,2.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Acquire,1964.0,5497,4,"12658,18317","92,5,4871,3082,858,2962,5392,4668,38,4622,7107",2.0,6.0,3.0,6.0,4.0,4.0,12.0,11.735294,90.0,90.0,"1021,1086","2040,2910,2900,2911,2940,2005,2002,2874",0,0,NaN,4891,NaN,NaN,276.0,18189,7.33994,1.33515,7.15158,2.5041,1.090278,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
print('Number rows and columns', dfbg.shape)

Number rows and columns (100052, 38)

In [29]:
dfbg.columns

Index(['bgg_id', 'name', 'year', 'game_type', 'designer', 'artist',
       'publisher', 'min_players', 'max_players', 'min_players_rec',
       'max_players_rec', 'min_players_best', 'max_players_best', 'min_age',
       'min_age_rec', 'min_time', 'max_time', 'category', 'mechanic',
       'cooperative', 'compilation', 'compilation_of', 'family',
       'implementation', 'integration', 'rank', 'num_votes', 'avg_rating',
       'stddev_rating', 'bayes_rating', 'complexity', 'language_dependency',
       'bga_id', 'dbpedia_id', 'luding_id', 'spielen_id', 'wikidata_id',
       'wikipedia_id'],
      dtype='object')

In [30]:
dfbg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100052 entries, 0 to 100051
Data columns (total 38 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   bgg_id               100052 non-null  int64
 1   name                 100052 non-null  object
 2   year                 90954 non-null   float64
 3   game_type            21698 non-null   object
 4   designer             85454 non-null   object
 5   artist               40876 non-null   object
 6   publisher            100038 non-null  object
 7   min_players          98213 non-null   float64
 8   max_players          94686 non-null   float64
 9   min_players_rec      98213 non-null   float64
 10  max_players_rec      94686 non-null   float64
 11  min_players_best     98213 non-null   float64
 12  max_players_best     94686 non-null   float64
 13  min_age              77999 non-null   float64
 14  min_age_rec          906 non-null     float64
 15  min_time             79186 non-null   float64
 16  max_time             79186 non-null   float64
 17  category             98007 non-null   object
 18  mechanic             84576 non-null   object
 19  cooperative          100052 non-null  int64
 20  compilation          100052 non-null  int64
 21  compilation_of       697 non-null     object
 22  family               58556 non-null   object
 23  implementation       4651 non-null    object
 24  integration          3232 non-null    object
 25  rank                 20323 non-null   float64
 26  num_votes            100052 non-null  int64
 27  avg_rating           73855 non-null   float64
 28  stddev_rating        100052 non-null  float64
 29  bayes_rating         20624 non-null   float64
 30  complexity           43412 non-null   float64
 31  language_dependency  785 non-null     float64
 32  bga_id               0 non-null       float64
 33  dbpedia_id           0 non-null       float64
 34  luding_id            0 non-null       float64
 35  spielen_id           0 non-null       float64
 36  wikidata_id          0 non-null       float64
 37  wikipedia_id         0 non-null       float64
dtypes: float64(23), int64(4), object(11)
memory usage: 29.0+ MB

<a id="bgdc"></a>

- ### Data Cleaning

#### Quick overview of values

In [31]:
dfbg.describe(include='all')

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,max_players_rec,min_players_best,max_players_best,min_age,min_age_rec,min_time,max_time,category,mechanic,cooperative,compilation,compilation_of,family,implementation,integration,rank,num_votes,avg_rating,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
count,100052.000000,100052,90954.000000,21698,85454,40876,100038,98213.000000,94686.000000,98213.000000,94686.000000,98213.000000,94686.000000,77999.000000,906.000000,79186.000000,7.918600e+04,98007,84576,100052.000000,100052.000000,697,58556,4651,3232,20323.000000,100052.000000,73855.000000,100052.000000,20624.000000,43412.000000,785.000000,0.0,0.0,0.0,0.0,0.0,0.0
unique,NaN,95592,NaN,41,28454,19215,31269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18219,17460,NaN,NaN,685,20233,3667,2762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Grand Prix,NaN,4664,3,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009,2035,NaN,NaN,184011,"22184,8374",258,"1421,3969,7113",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,12,NaN,7435,18715,3769,5424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4457,7168,NaN,NaN,3,1949,35,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,128083.905029,NaN,1999.456593,NaN,NaN,NaN,NaN,2.037154,6.617219,2.042347,6.598325,2.074135,6.575006,9.420659,9.885323,53.089839,4.962246e+02,NaN,NaN,0.049005,0.006966,NaN,NaN,NaN,NaN,10167.401023,175.765772,6.005236,0.864632,5.688211,1.926472,2.101514,NaN,NaN,NaN,NaN,NaN,NaN
std,104699.488217,NaN,71.932626,NaN,NaN,NaN,NaN,0.813903,52.624641,0.819634,52.613976,0.857828,52.614735,7.919847,2.824056,650.529968,1.069209e+05,NaN,NaN,0.215879,0.083174,NaN,NaN,NaN,NaN,5872.224587,1619.001716,1.618081,0.860463,0.368113,0.845396,1.195129,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,-3500.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.025641,1.000000,1.000000e+00,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,0.000000,1.000000,0.000000,3.550380,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,28742.750000,NaN,1995.000000,NaN,NaN,NaN,NaN,2.000000,4.000000,2.000000,4.000000,2.000000,3.000000,7.000000,7.989583,15.000000,2.000000e+01,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,5081.500000,0.000000,5.000000,0.000000,5.510652,1.000000,1.012195,NaN,NaN,NaN,NaN,NaN,NaN
50%,113983.000000,NaN,2009.000000,NaN,NaN,NaN,NaN,2.000000,4.000000,2.000000,4.000000,2.000000,4.000000,10.000000,10.000000,30.000000,3.000000e+01,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,10160.000000,3.000000,6.048920,0.942809,5.548510,2.000000,1.733333,NaN,NaN,NaN,NaN,NaN,NaN
75%,217234.250000,NaN,2016.000000,NaN,NaN,NaN,NaN,2.000000,6.000000,2.000000,6.000000,2.000000,6.000000,12.000000,11.957880,60.000000,6.000000e+01,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,15261.500000,18.000000,7.000000,1.505795,5.685128,2.500000,3.052632,NaN,NaN,NaN,NaN,NaN,NaN
max,333142.000000,NaN,2023.000000,NaN,NaN,NaN,NaN,50.000000,11299.000000,50.000000,11299.000000,50.000000,11299.000000,2017.000000,20.541667,157680.000000,3.000000e+07,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,20351.000000,102285.000000,10.000000,4.500000,8.551230,5.000000,4.983333,NaN,NaN,NaN,NaN,NaN,NaN

####Â Check for duplicate values

In [32]:
dfbg['bgg_id'].value_counts()

163050    1
36219     1
101787    1
230810    1
312591    1
         ..
256616    1
98917     1
268926    1
282246    1
2047      1
Name: bgg_id, Length: 100052, dtype: int64

In [33]:
dfbg['bgg_id'].duplicated().sum()

0

In [34]:
dfbg['name'].duplicated().sum()

4460

In [35]:
dfbg[bg['name'].duplicated()]

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,max_players_rec,min_players_best,max_players_best,min_age,min_age_rec,min_time,max_time,category,mechanic,cooperative,compilation,compilation_of,family,implementation,integration,rank,num_votes,avg_rating,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
594,680,Dune,1984.0,5496,7064,NaN,"1772,28",2.0,4.0,2.0,4.0,2.0,4.0,10.0,NaN,90.0,90.0,"1064,1093,1016","2014,2072,2685,2035,2686",0,0,NaN,5838,NaN,NaN,13180.0,336,5.74836,1.79391,5.52367,2.1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,859,Illuminati,1982.0,"5496,5497",22,"3737,15323",19,2.0,6.0,3.0,6.0,4.0,5.0,12.0,NaN,60.0,120.0,"1002,1093,1001,1016",2040,0,0,NaN,"65191,5828,27646,41798",NaN,NaN,3037.0,2650,6.19733,1.64462,5.88332,2.4842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1078,1268,What's That on My Head?,1963.0,NaN,221,NaN,"74,1064,163",3.0,6.0,3.0,6.0,3.0,6.0,NaN,NaN,60.0,60.0,1039,NaN,0,0,NaN,"65478,11111",NaN,NaN,13415.0,39,6.37179,1.40839,5.52195,2.2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,1638,Archimedes,1981.0,4666,7172,NaN,"1997,253,8896,28133,370",2.0,4.0,2.0,4.0,2.0,4.0,8.0,NaN,30.0,30.0,1009,NaN,0,0,NaN,NaN,NaN,NaN,18481.0,42,4.83333,1.26729,5.48240,2.1667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,1704,Attacke,1977.0,4664,3,3,38,2.0,4.0,2.0,4.0,2.0,4.0,8.0,NaN,45.0,45.0,"1023,1019",NaN,0,0,NaN,NaN,NaN,NaN,NaN,1,6.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99869,332010,Hunch,NaN,NaN,134357,NaN,48103,2.0,8.0,2.0,8.0,2.0,8.0,10.0,NaN,NaN,NaN,"1002,1041,1094",NaN,0,0,NaN,22783,NaN,NaN,NaN,0,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99903,332168,Minimize,2021.0,NaN,NaN,NaN,45615,3.0,8.0,3.0,8.0,3.0,8.0,8.0,NaN,5.0,25.0,"1009,1002,1098,1030","3004,2889,2685,2661,2004,2686",0,0,NaN,"22184,8374",NaN,NaN,NaN,2,10.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99914,332198,Arma,2021.0,NaN,134451,NaN,48124,2.0,4.0,2.0,4.0,2.0,4.0,6.0,NaN,5.0,45.0,"1050,1031",2860,0,0,NaN,"22184,8374",NaN,NaN,NaN,0,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99977,332493,Manhattan,2021.0,NaN,2321,NaN,7854,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,1009,NaN,0,0,NaN,26432,NaN,NaN,NaN,0,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100039,332914,Day & Night,2021.0,NaN,101243,61842,"5530,22",3.0,5.0,3.0,5.0,3.0,5.0,8.0,NaN,20.0,30.0,"1002,1098","2686,2009",0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
dfbg[dfbg['name']=='Dune']

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,max_players_rec,min_players_best,max_players_best,min_age,min_age_rec,min_time,max_time,category,mechanic,cooperative,compilation,compilation_of,family,implementation,integration,rank,num_votes,avg_rating,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
112,121,Dune,1979.0,"5496,5497","34,35,36","12261,11801,12433,667,12434,12432,1158","5,41,1391",2.0,6.0,4.0,6.0,6.0,6.0,12.0,13.916667,60.0,180.0,"1023,1046,1026,1093,1001,1016","2916,2080,2046,2012,2040,2961,2019,2015",0,0,NaN,"7973,5838,5679,5615,13265",NaN,NaN,307.0,5488,7.61988,1.68986,7.09523,3.4419,2.975,NaN,NaN,NaN,NaN,NaN,NaN
594,680,Dune,1984.0,5496,7064,NaN,"1772,28",2.0,4.0,2.0,4.0,2.0,4.0,10.0,NaN,90.0,90.0,"1064,1093,1016","2014,2072,2685,2035,2686",0,0,NaN,5838,NaN,NaN,13180.0,336,5.74836,1.79391,5.52367,2.1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31305,36022,Dune,2002.0,NaN,810,NaN,873,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,"1002,1093,1120,1016","2041,2072",0,0,NaN,5838,NaN,NaN,NaN,6,8.25000,1.57454,NaN,3.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88477,283355,Dune,2019.0,"5496,5497","34,35,36",53050,11420,2.0,6.0,5.0,6.0,6.0,6.0,14.0,NaN,120.0,120.0,"1023,1046,1026,1093,1001,1016,1019","2916,2080,2046,2012,2913,2864,2961,3006,2686,2015",0,0,NaN,"5838,13265",121,NaN,284.0,3137,8.17603,1.59421,7.13865,3.8922,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
dfbg[dfbg['name']=='Arma']

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,max_players_rec,min_players_best,max_players_best,min_age,min_age_rec,min_time,max_time,category,mechanic,cooperative,compilation,compilation_of,family,implementation,integration,rank,num_votes,avg_rating,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
72643,202870,Arma,2016.0,NaN,53801,"65692,92973,92971,92972,92974,93080,92975",19114,3.0,5.0,3.0,5.0,3.0,5.0,10.0,NaN,30.0,40.0,"1002,1082",2040,0,0,NaN,NaN,NaN,NaN,NaN,7,5.42857,0.903508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99914,332198,Arma,2021.0,NaN,134451,NaN,48124,2.0,4.0,2.0,4.0,2.0,4.0,6.0,NaN,5.0,45.0,"1050,1031",2860,0,0,NaN,"22184,8374",NaN,NaN,NaN,0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When checking one by one the names that appear duplicated we see that only the name is repeated, the rest of attributes are different. These games are reeditions of the original game whose author, categories or mechanics have changed with each edition, so they are considered as different games when placing the id of the game.

#### Check for null values

In [39]:
dfbg.isnull().sum()

bgg_id                      0
name                        0
year                     9098
game_type               78354
designer                14598
artist                  59176
publisher                  14
min_players              1839
max_players              5366
min_players_rec          1839
max_players_rec          5366
min_players_best         1839
max_players_best         5366
min_age                 22053
min_age_rec             99146
min_time                20866
max_time                20866
category                 2045
mechanic                15476
cooperative                 0
compilation                 0
compilation_of          99355
family                  41496
implementation          95401
integration             96820
rank                    79729
num_votes                   0
avg_rating              26197
stddev_rating               0
bayes_rating            79428
complexity              56640
language_dependency     99267
bga_id                 100052
dbpedia_id             100052
luding_id              100052
spielen_id             100052
wikidata_id            100052
wikipedia_id           100052
dtype: int64

#### Discard columns with all null values and columns not interesting for this analysis

In [40]:
cols= ['bgg_id', 'name', 'year','designer','min_players', 'max_players','min_time', 'max_time', 'category','mechanic','cooperative','rank', 'num_votes']
bg= pd.read_csv(file,usecols= cols, low_memory=False)
bg.head()

,bgg_id,name,year,designer,min_players,max_players,min_time,max_time,category,mechanic,cooperative,rank,num_votes
0,1,Die Macher,1986.0,1,3.0,5.0,240.0,240.0,"1021,1026,1001","2916,2080,2012,2072,2040,2020",0,286.0,5224
1,2,Dragonmaster,1981.0,8384,3.0,4.0,30.0,30.0,"1002,1010",2009,0,3718.0,553
2,3,Samurai,1998.0,2,2.0,4.0,30.0,60.0,"1009,1035","2080,2040,2026,2846,2004,2002",0,209.0,14736
3,4,Tal der KÃ¶nige,1992.0,8008,2.0,4.0,60.0,60.0,1050,"2001,2080,2012,2004",0,4951.0,339
4,5,Acquire,1964.0,4,2.0,6.0,90.0,90.0,"1021,1086","2040,2910,2900,2911,2940,2005,2002,2874",0,276.0,18189

In [41]:
bg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100052 entries, 0 to 100051
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   bgg_id       100052 non-null  int64
 1   name         100052 non-null  object
 2   year         90954 non-null   float64
 3   designer     85454 non-null   object
 4   min_players  98213 non-null   float64
 5   max_players  94686 non-null   float64
 6   min_time     79186 non-null   float64
 7   max_time     79186 non-null   float64
 8   category     98007 non-null   object
 9   mechanic     84576 non-null   object
 10  cooperative  100052 non-null  int64
 11  rank         20323 non-null   float64
 12  num_votes    100052 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 9.9+ MB

#### Order the dataset according to the year column

In [42]:
year = bg.sort_values('year', ascending=False)
year.head(50)

,bgg_id,name,year,designer,min_players,max_players,min_time,max_time,category,mechanic,cooperative,rank,num_votes
86172,271081,Dominus,2023.0,101308,1.0,4.0,15.0,30.0,1035,"2048,2002,2082",0,NaN,0
99507,330152,Nature,2023.0,3245,2.0,5.0,30.0,60.0,"1089,1002,1094,1084,1036","2956,2040,2070",0,NaN,0
92040,299106,Fractal: Beyond the Void,2022.0,"123810,123809,116798,116799",1.0,4.0,60.0,180.0,"1022,1015,1047,1001,1016,1113,1019","2001,2018,2040,2824,2011,2822,2015,2897",0,NaN,9
97579,322619,Scarface,2022.0,88597,2.0,2.0,25.0,25.0,"1094,1033","2041,2857,2040",0,NaN,0
99592,330579,Raising Chicago,2022.0,79529,2.0,4.0,75.0,120.0,"1029,1021,1086",2910,0,NaN,0
99254,329226,Circadians: Chaos Order,2022.0,"103821,133311",2.0,5.0,120.0,240.0,1016,"2080,2046,2857,2026,2958,2015",0,NaN,1
99433,329862,Tiny Turbo Cars,2022.0,"91211,114249,114247,114248,114090",2.0,4.0,30.0,45.0,"1028,1031","2689,2887,2011,2953,2876,2831,2015",0,NaN,0
99734,331317,Coalitions,2022.0,129507,2.0,6.0,60.0,240.0,"1051,1026,1001,1019","2080,2046,2018,2040,2685,2015",0,NaN,0
99735,331318,Citytrip Junior,2022.0,132082,1.0,6.0,15.0,25.0,1020,"2999,2039,2081,2055,2007,2661,2819",0,NaN,0
98995,328272,Bliss,2022.0,113983,1.0,5.0,45.0,90.0,1002,"2875,2902,2020,2015,2082",0,NaN,0
89345,286788,Gift of Tulips,2022.0,120555,2.0,6.0,20.0,20.0,NaN,"2080,2013",0,NaN,5
99921,332233,Death Roads: All Stars,2022.0,134524,2.0,4.0,45.0,90.0,"1046,1047,1031,1016,1101","2001,3004,2850,2040,2685,2826,2015",0,NaN,0
97044,320829,Epic Seven Arise,2022.0,"130635,133027",1.0,4.0,40.0,90.0,"1022,1010,1047,1101","2001,2840,2041,2023,2028",1,NaN,11
75076,217388,Guild of the Fallen,2022.0,78158,1.0,4.0,45.0,90.0,"1022,1017,1010,1031","2072,2048,2661,2015,2082",0,NaN,3
99583,330543,Lasting Tales,2022.0,7939,1.0,5.0,45.0,120.0,"1022,1117,1010,1047,1019","2023,2072,2949,2055,2822,2819",1,NaN,1
91017,294994,Monster Science,2022.0,66454,1.0,2.0,20.0,45.0,1046,"2041,2857,3004",0,NaN,0
86116,270871,Agemonia,2022.0,77509,1.0,4.0,60.0,120.0,"1022,1010,1047","2023,2822,2027",1,NaN,11
86364,272233,Failure on the Tugela,2022.0,8697,1.0,1.0,NaN,NaN,"2710,1019","2080,2046,2072,2947,2070,2819",0,NaN,3
99944,332313,Prison Architect: Cardboard County Penitentiary,2022.0,"134490,76227",1.0,4.0,90.0,120.0,"1029,1021,1001","2012,2002",0,NaN,0
93237,303731,Primal: The Awakening,2022.0,"99308,99309",1.0,4.0,60.0,90.0,"1010,1046,1047","2023,2040,2822,2819,2015",1,NaN,17
46653,97155,Lords of Baseball,2022.0,"48059,48060",1.0,8.0,90.0,150.0,"1002,1021,1038","2018,2040,2008",0,NaN,9
97544,322524,Bardsung,2022.0,"73636,104102",1.0,5.0,30.0,45.0,"1022,1020,1010,1046,1047","2689,2839,2018,2023,2854,3004,2072,2850,2676,2...",1,NaN,28
73446,207284,Hewns,2022.0,94372,2.0,4.0,120.0,120.0,1016,"2001,2012,2072,2987,2011,2661",0,NaN,5
97540,322499,Red Dust Rebellion,2022.0,131207,1.0,4.0,120.0,240.0,1019,"2080,2018,2850,2819",0,NaN,2
96219,317119,Spring and Autumn: Story of China,2022.0,6538,1.0,5.0,120.0,180.0,"1050,1029,1015,1047,1082,1086","2080,2046,2014,2850,2987,2837,2819,2015,2082",0,NaN,0
96220,317121,Hedge Mazers,2022.0,118741,2.0,4.0,30.0,60.0,1017,2072,0,NaN,0
97526,322449,Trick or Treat,2022.0,131174,3.0,5.0,40.0,60.0,"1023,1041,1039,1026","3002,2984,2040,3000,3007,2915,2858,2661,2004,2082",0,NaN,0
86715,274512,Hindsight,2022.0,"83765,83764",1.0,4.0,3.0,18.0,"1017,1028,1037","2023,2048",1,NaN,2
93703,306170,Draw the Line,2022.0,"20990,126436",4.0,8.0,15.0,30.0,"1079,1030","2073,2039,2055",0,NaN,0
97136,321121,Operation Unthinkable,2022.0,1747,2.0,2.0,NaN,NaN,"1019,1049",NaN,0,NaN,0
97137,321122,Rio Grande War,2022.0,337,2.0,2.0,NaN,NaN,"1048,1019",NaN,0,NaN,0
97138,321124,Descent on Malta,2022.0,337,1.0,1.0,NaN,NaN,"1019,1049",NaN,0,NaN,0
97598,322687,Silicon Saga: Wreck of the Andromeda,2022.0,131282,1.0,4.0,60.0,120.0,"1022,1002,1020,1016","2001,2041,2057,2023,2664,2850,2676,2011,2962,2...",1,NaN,1
99751,331401,Dog Park,2022.0,"134283,134282",1.0,4.0,40.0,80.0,"1089,1002","2012,2078,2004,2819,2939,2897,2874",0,NaN,0
99749,331398,Mythic Battles: RagnarÃ¶k,2022.0,61105,2.0,4.0,60.0,90.0,"1050,1002,1010,1047,1082,1019","2046,2018,2041,2072,2040,2685,2070,2015",0,NaN,0
89950,289379,Dungeon Crafters,2022.0,"121677,121676",1.0,6.0,15.0,30.0,"1022,1017,1020,1010","2072,2055",0,NaN,4
98264,325292,Inn Keeper,2022.0,115024,2.0,5.0,NaN,NaN,"1002,1028",2009,0,NaN,0
99175,328890,Roll and Rock,2022.0,NaN,2.0,4.0,40.0,60.0,"1044,1054","2080,2933",0,NaN,0
97772,323350,Forces of History,2022.0,131479,2.0,4.0,90.0,360.0,"1050,1015,1094,1035,1115","2046,2903,2041,2883,2965,2846,2078,2070,2686",0,NaN,0
99520,330208,Alpujarras,2022.0,10060,2.0,4.0,45.0,60.0,"1013,1035","2080,2004,2939",0,NaN,0
95916,316095,Insert Point,2022.0,117890,1.0,4.0,25.0,50.0,"1002,1046,1101","3004,2040,2661",0,NaN,3
99834,331857,Toppings,2022.0,131174,2.0,4.0,20.0,45.0,"1026,1030,1028","3000,2906,2011,2915,2813,2004,2008",0,NaN,0
95917,316101,Eclectic,2022.0,100328,1.0,4.0,25.0,50.0,"1002,1030","2040,2048,2004",0,NaN,3
87757,279876,Template of War,2022.0,"106893,97326",1.0,10.0,120.0,360.0,"1023,1017,1010,1035,1047,1093,1016,1086,1019","2080,2046,2018,2041,2023,2664,2072,2011,2028,2...",1,NaN,0
99843,331902,Ephios,2022.0,134318,2.0,4.0,20.0,45.0,"1002,1116,1001,1016","2857,2040,2967,2822",0,NaN,1
95801,315515,JodÅogrody MaÅe,2022.0,127437,2.0,4.0,45.0,60.0,"1089,1029,1021","2046,2082",0,NaN,0
98316,325429,Citytrip Paris,2022.0,132082,1.0,8.0,20.0,45.0,1020,"2999,2039,2055,2007,2819",0,NaN,0
90258,291276,Criminal City,2022.0,121357,3.0,7.0,60.0,90.0,"1023,1039,1010","2040,2967,2078,2019,2008",0,NaN,0
90290,291434,Axis Empires Expanded Edition,2022.0,"709,4190,9690",2.0,5.0,900.0,3600.0,"1019,1049","2072,2026",0,NaN,2
74078,210206,Transhumanity,2022.0,"76971,76578",NaN,NaN,60.0,90.0,"1022,1093,1016,1113","2023,2011,2078,2015",1,NaN,2

In [43]:
year['year'][year['year'].isin([2021, 2022])].count()

1828

In [44]:
# Review the games released in 2020, which is the last year completed

year['year'][year['year']==2020].count()

4463

In [45]:
# Check for negative values

year['year'][year['year']<0]

18707    -100.0
4715     -200.0
12077    -350.0
35092    -600.0
19670    -700.0
10438   -1300.0
22356   -1400.0
67951   -1400.0
3359    -1400.0
17402   -1400.0
24476   -1800.0
2495    -2000.0
32787   -2000.0
168     -2200.0
34413   -2500.0
1366    -2600.0
10283   -3000.0
4812    -3000.0
3591    -3000.0
2057    -3000.0
20172   -3000.0
2059    -3500.0
Name: year, dtype: float64

In [46]:
year['year'][year['year']<0].count()

22

In [47]:
year.tail(50)

,bgg_id,name,year,designer,min_players,max_players,min_time,max_time,category,mechanic,cooperative,rank,num_votes
99492,330069,Tribal Souls,NaN,133606,1.0,8.0,NaN,NaN,NaN,NaN,0,NaN,0
99525,330228,ÐÐ¾Ð½Ð¾Ð¿Ð¾Ð»Ð¸Ñ: ÐÑÑÑÐº,NaN,NaN,2.0,5.0,45.0,45.0,"1021,1026","2012,2685,2035,2004,2008",0,NaN,0
99528,330233,Sekai no Hate made Itte Q!,NaN,NaN,2.0,6.0,NaN,NaN,"1064,1027",2035,0,NaN,0
99569,330506,Black Stories Junior: Stadt-Land-Ferien,NaN,NaN,2.0,50.0,2.0,222.0,"1041,1097","2055,2020",0,NaN,0
99573,330528,ÐÐ¾Ð½Ð½Ð¸ Ð¡ÑÑÑÐµÐ·Ð°Ð½Ð¸Ñ Ð¤ÑÑÐ¸,NaN,133843,2.0,5.0,NaN,NaN,"1089,1017,1064,1031",2072,0,NaN,1
99577,330535,Diagonale,NaN,NaN,1.0,2.0,NaN,NaN,"1009,1031","2676,2940",0,NaN,0
99580,330539,Cutthroat Cove: Pieces of Eight,NaN,NaN,2.0,4.0,10.0,15.0,"1002,1090","2040,2047,2686",0,NaN,0
99630,330746,Wizards of Mickey: First Age,NaN,"10066,6838,10052",2.0,2.0,15.0,15.0,"1023,1002,1044,1116,1010,1079,1064","2041,2040,2009,2015",0,NaN,0
99640,330788,Off the Line,NaN,2961,2.0,2.0,60.0,120.0,"1002,1046,1019,1049","2001,2840,2841,2850,2676,2026,2011,2822",0,NaN,0
99647,330821,Destination Great Britain,NaN,4670,2.0,6.0,60.0,60.0,1097,2046,0,NaN,0
99650,330827,Triathlon,NaN,166,3.0,3.0,10.0,45.0,1002,2009,0,NaN,1
99653,330835,Hexa WÃ¼rfel-Domino,NaN,NaN,2.0,4.0,NaN,NaN,NaN,"2072,2004",0,NaN,0
99654,330836,Fussball-Spiel zu Hause,NaN,NaN,2.0,2.0,NaN,NaN,1038,"2072,2676,2035,2940",0,NaN,0
99665,330951,Fredagsslik,NaN,3,2.0,6.0,30.0,30.0,1041,"2072,2686",0,NaN,0
99673,330973,Volfyirion Guilds,NaN,111190,1.0,2.0,20.0,40.0,"1002,1010","2041,2664",0,NaN,0
99713,331257,FÃ©e Toibelle,NaN,104589,2.0,4.0,15.0,20.0,1045,2004,0,NaN,0
99729,331305,Wish you were here ...? Travel Edition,NaN,NaN,2.0,4.0,NaN,NaN,"1002,1064,1097","2040,2004",0,NaN,0
99747,331367,Alien Frenzy,NaN,"134092,134093",2.0,4.0,15.0,30.0,"1002,1030","2040,3000,3007,2685,2661,2686",0,NaN,0
99754,331407,Breakaway: The Anti-Violence Anti-Aggression A...,NaN,"3,134647",2.0,6.0,NaN,NaN,"1041,1094",2876,0,NaN,0
99756,331411,Monumentus,NaN,NaN,2.0,8.0,40.0,240.0,"1029,1015,1021,1026,1086","2046,2903,2912,2676,2947,2958,2915,2081,2964,2...",0,NaN,0
99764,331463,Tome: The Light Edition,NaN,134110,3.0,4.0,20.0,45.0,"1002,1010","2685,2019,2009",0,NaN,0
99766,331472,Î£ÏÎ¿ ÎºÎµÏÎ¬Î»Î¹ ÏÎ¿ 'ÏÏ!,NaN,NaN,2.0,6.0,20.0,20.0,"1041,1039",2060,0,NaN,0
99779,331545,1812: Eagles in the East,NaN,3931,1.0,6.0,60.0,600.0,"1051,1019",NaN,0,NaN,0
99793,331644,Spatzen unterm Hut,NaN,NaN,2.0,3.0,NaN,NaN,1089,2685,0,NaN,0
99802,331691,A Battle of Onin,NaN,NaN,2.0,4.0,30.0,60.0,"1009,1023,1002,1041,1044,1039,1010,1104,1030,1...","2012,2014,2893,2023,3002,2843,2864,2040,2889,2...",1,NaN,12
99826,331829,Tin Pan Alley,NaN,NaN,NaN,NaN,NaN,NaN,1032,NaN,0,NaN,0
99848,331933,Holy Roller: Catholicism,NaN,NaN,1.0,4.0,NaN,NaN,1115,"2023,2072",1,NaN,0
99849,331934,Ages: The History of Mankind â Stone Age,NaN,NaN,1.0,4.0,NaN,NaN,1015,NaN,0,NaN,0
99852,331948,Blanc-Manger Coco 3: La petite gÃ¢terie,NaN,NaN,NaN,NaN,NaN,NaN,"1002,1079,1030","2040,2865,2020",0,NaN,0
99862,331994,Walt Disney's Spin und Marty,NaN,NaN,2.0,5.0,NaN,NaN,"1055,1064","2072,2078,2876,2035",0,NaN,0
99863,331997,Der lustige Michel,NaN,NaN,2.0,6.0,NaN,NaN,1041,"2072,2078,2876,2035",0,NaN,0
99864,332003,Wir halten fest!,NaN,NaN,2.0,2.0,NaN,NaN,"1019,1065",2078,0,NaN,0
99866,332007,Absolute Zero,NaN,134357,2.0,5.0,NaN,NaN,"1002,1041,1094",NaN,0,NaN,0
99867,332008,Absolute Zero Junior,NaN,134357,2.0,4.0,NaN,NaN,"1002,1041,1094",NaN,0,NaN,0
99868,332009,Ten Fish,NaN,134357,2.0,4.0,NaN,NaN,"1002,1041,1094",NaN,0,NaN,1
99869,332010,Hunch,NaN,134357,2.0,8.0,NaN,NaN,"1002,1041,1094",NaN,0,NaN,0
99902,332167,Mes PremiÃ¨res Ãnigmes Animaux,NaN,NaN,1.0,6.0,15.0,15.0,"1002,1041,1039",NaN,0,NaN,0
99908,332182,Magnet-Auto-Spiel,NaN,NaN,NaN,NaN,NaN,NaN,1041,NaN,0,NaN,0
99910,332184,Die Grosse Fahrschule,NaN,NaN,NaN,NaN,NaN,NaN,"1041,1094",NaN,0,NaN,0
99928,332261,Der lustige 7ner,NaN,NaN,2.0,10.0,NaN,NaN,1017,2072,0,NaN,0
99931,332273,BELLUM: The Card Game,NaN,134473,2.0,4.0,15.0,45.0,"1002,1035","2040,2004",0,NaN,0
99951,332362,Football Season: Road to Glory,NaN,108673,1.0,4.0,90.0,180.0,"1021,1038","2664,2040,2900,2020,2082",0,NaN,1
99962,332395,Pic Fl!p,NaN,NaN,2.0,6.0,NaN,NaN,1002,NaN,0,NaN,0
99963,332396,Fauna Europea,NaN,NaN,NaN,NaN,NaN,NaN,"1089,1041,1094,1084",NaN,0,NaN,0
99969,332430,Hannibal's Revenge,NaN,4595,1.0,4.0,NaN,NaN,"1050,1019",2072,0,NaN,0
99999,332608,SchuÃ ... Tor!,NaN,NaN,2.0,2.0,NaN,NaN,1038,"2072,2676,2876,2035",0,NaN,0
100002,332620,Armada: The Great Galleon Battle,NaN,NaN,NaN,NaN,NaN,NaN,"1009,1032,1041,1008",2876,0,NaN,0
100007,332661,Einer fÃ¼r Alle!,NaN,NaN,2.0,6.0,NaN,NaN,1041,"2072,2004",0,NaN,0
100016,332715,Problem Solver,NaN,134647,NaN,NaN,NaN,NaN,"1041,1094",2035,0,NaN,0
100044,332945,Wer wÃ¼rfelt Worte?,NaN,NaN,NaN,NaN,NaN,NaN,1025,2072,0,NaN,0

In [48]:
year['year'].isnull().sum()

9098

In 1900 the board game industry began to evolve, and in 1970 began to create games that tried to create different and more complex gaming experiences, as is the case of **Dungeons and Dragons**, or the evolution of board games, such as **The Hare and the Tortoise** by *David Parlett*, which is the first board game to win a **Spiel Des Jahres** (Game of the Year) in 1979, one of the most prestigious awards worldwide to this day. The mere fact that an award for board game of the year began to exist already gives us to understand that at that time the industry could define its criteria of what represents a board game as such.  


An important and notable difference between traditional and modern board games is the inclusion of game themes, which are not necessarily based on reality, but on fantasy and fiction, being the case of multiple examples such as **Catan**, **Carcassonne**, **Dominion** or **The Resistance**.  


**Since the objective of this TFM is the creation of a modern board game recommender. We consider 1970 as the year in which modern board games began to be created and therefore, all our analysis will focus on games created after that date.**

In [49]:
year['year'][year['year']<1970].count()

6307

In [50]:
year['year'][year['year']>=1970].count()

84647

In [51]:
year[year['year']>=1970].isnull().sum()

bgg_id             0
name               0
year               0
designer       10083
min_players      876
max_players     3332
min_time       13914
max_time       13914
category        1586
mechanic       11957
cooperative        0
rank           64965
num_votes          0
dtype: int64

In [57]:
bg2=bg[bg['year']>=1970]
bg2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84647 entries, 0 to 100051
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bgg_id       84647 non-null  int64
 1   name         84647 non-null  object
 2   year         84647 non-null  float64
 3   designer     74564 non-null  object
 4   min_players  83771 non-null  float64
 5   max_players  81315 non-null  float64
 6   min_time     70733 non-null  float64
 7   max_time     70733 non-null  float64
 8   category     83061 non-null  object
 9   mechanic     72690 non-null  object
 10  cooperative  84647 non-null  int64
 11  rank         19682 non-null  float64
 12  num_votes    84647 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 9.0+ MB

In [71]:
# Change the data types
bg3=bg2.copy()
bg3['year']=bg3.loc[:, 'year'].apply(np.int)
bg3

,bgg_id,name,year,designer,min_players,max_players,min_time,max_time,category,mechanic,cooperative,rank,num_votes
0,1,Die Macher,1986,1,3.0,5.0,240.0,240.0,"1021,1026,1001","2916,2080,2012,2072,2040,2020",0,286.0,5224
1,2,Dragonmaster,1981,8384,3.0,4.0,30.0,30.0,"1002,1010",2009,0,3718.0,553
2,3,Samurai,1998,2,2.0,4.0,30.0,60.0,"1009,1035","2080,2040,2026,2846,2004,2002",0,209.0,14736
3,4,Tal der KÃ¶nige,1992,8008,2.0,4.0,60.0,60.0,1050,"2001,2080,2012,2004",0,4951.0,339
5,6,Mare Mediterraneum,1989,5,2.0,6.0,240.0,240.0,"1015,1008",2072,0,10133.0,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100047,332986,Monkey Spank!,2017,134741,2.0,6.0,5.0,15.0,"1002,1079,1118,1030,1037",2991,0,NaN,1
100048,333002,Revolution: The Game of 1776,1975,3,2.0,6.0,NaN,NaN,1075,"2072,2953,2876,2016",0,NaN,0
100049,333021,Piratz,2021,961,2.0,4.0,15.0,15.0,1002,2661,0,NaN,0
100050,333116,Zombie Princess and the Enchanted Maze,2021,NaN,2.0,5.0,45.0,60.0,"1010,1059,2481","2676,2964,2002",0,NaN,0
100051,333142,On to Stalingrad: Unternehmen Wintergewitter,2020,4043,1.0,2.0,NaN,NaN,"1019,1049","2072,2026,2070,2974",0,NaN,0

In [72]:
bg3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84647 entries, 0 to 100051
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bgg_id       84647 non-null  int64
 1   name         84647 non-null  object
 2   year         84647 non-null  int64
 3   designer     74564 non-null  object
 4   min_players  83771 non-null  float64
 5   max_players  81315 non-null  float64
 6   min_time     70733 non-null  float64
 7   max_time     70733 non-null  float64
 8   category     83061 non-null  object
 9   mechanic     72690 non-null  object
 10  cooperative  84647 non-null  int64
 11  rank         19682 non-null  float64
 12  num_votes    84647 non-null  int64
dtypes: float64(5), int64(4), object(4)
memory usage: 11.1+ MB

<a id="udu"></a>

## 4. Board Games Data Understanding

<a id="uld"></a>

- ### Load Data

In [17]:
#act_dir= os.getcwd()
%cd /users/postigo/Google Drive/BoardGamesData/users

/Users/postigo/Google Drive/BoardGamesData/users

In [18]:
# Obtain the number of users in the file
!ls | wc -l

    2853

In [19]:
# Obtain the number of records in each file
!ls | xargs wc -l > countfile.txt

In [20]:
# Read .txt data
df_countfile= pd.read_csv("countfile.txt", sep=" ", header= None, usecols=[5,6], names=['files', 'namefile'], error_bad_lines=False)
df_countfile.head()

  files  namefile
0   545     0.csv
1   489     1.csv
2   NaN        47
3   552   100.csv
4   109  1000.csv

In [21]:
# Open a user file and view the information it contains
path= "/Users/postigo/Documents/20200917_Repaso/users2"

user237= pd.read_csv("237.csv")
user237

,Unnamed: 0,Game,Plays,BGG Rank,BGG Rating,Your Rating,Users Rating,Utilisation
0,0,Magic: The Gathering,182,158,7.5,10.0,32365,100.0%
1,1,Codenames,68,93,7.6,10.0,67424,99.9%
2,2,Mottainai,47,937,7.0,10.0,3486,99.9%
3,3,Innovation,44,334,7.2,10.0,14811,99.9%
4,4,Hansa Teutonica,40,139,7.6,10.0,11425,99.9%
...,...,...,...,...,...,...,...,...
212,212,Age of Steam Expansion: Germany & France,0,-1,7.9,-1.0,89,0.0%
213,213,7 Wonders Duel: Pantheon,0,-1,8.0,-1.0,8984,0.0%
214,214,1859,0,-1,6.9,8.0,25,0.0%
215,215,1844/1854,0,-1,8.0,-1.0,359,0.0%
216,216,1824: Austrian-Hungarian Railway (Second Edition),0,3684,8.2,-1.0,196,0.0%

In [22]:
user237.columns

Index(['Unnamed: 0', 'Game', 'Plays', 'BGG Rank', 'BGG Rating', 'Your Rating',
       'Users Rating', 'Utilisation'],
      dtype='object')

In [23]:
user237.shape

(217, 8)

<a id="udc"></a>

- ### Data Cleaning

#### Create a dataframe with all users and all records

In [24]:
# Merging files into a single csv

path = "/users/postigo/Google Drive/BoardGamesData/users"

all_files= glob.glob(os.path.join(path, "*.csv"))

all_df=[]
for f in all_files:
    df=pd.read_csv(f, sep=',')
    df['file'] = f.split('/')[-1]
    all_df.append(df)
    
users= pd.concat(all_df, ignore_index= True, sort=False)
users

,Unnamed: 0,Game,Plays,BGG Rank,BGG Rating,Your Rating,Users Rating,Utilisation,file,Rating,Last Played,Days Since Last Play,0,1,2,3,4,5,6
0,0,Tichu,51.0,170.0,7.6,10.0,13267.0,99.9%,545.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Admin Test Item,47.0,-1.0,7.5,3.0,25.0,99.9%,545.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Magic: The Gathering,18.0,158.0,7.5,10.0,32365.0,98.4%,545.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Agricola,16.0,31.0,7.9,10.0,63367.0,97.4%,545.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Ticket to Ride,15.0,174.0,7.4,10.0,71408.0,96.8%,545.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260891,202,Babuschka,0.0,16582.0,5.5,-1.0,50.0,0.0%,1976.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260892,203,Automobile,0.0,459.0,7.3,8.0,5365.0,0.0%,1976.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260893,204,Auf Achse,0.0,3149.0,6.2,6.0,1634.0,0.0%,1976.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260894,205,Alhambra: The Vizier's Favor,0.0,-1.0,6.9,-1.0,1496.0,0.0%,1976.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260895,206,Agricola: All Creatures Big and Small,0.0,279.0,7.4,7.0,12301.0,0.0%,1976.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
users.columns

Index(['Unnamed: 0', 'Game', 'Plays', 'BGG Rank', 'BGG Rating', 'Your Rating',
       'Users Rating', 'Utilisation', 'file', 'Rating', 'Last Played',
       'Days Since Last Play', '0', '1', '2', '3', '4', '5', '6'],
      dtype='object')

In [26]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260896 entries, 0 to 1260895
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1260896 non-null  int64
 1   Game                  1260895 non-null  object
 2   Plays                 1260875 non-null  float64
 3   BGG Rank              1260875 non-null  float64
 4   BGG Rating            1260875 non-null  float64
 5   Your Rating           1260875 non-null  float64
 6   Users Rating          1260875 non-null  float64
 7   Utilisation           1260875 non-null  object
 8   file                  1260896 non-null  object
 9   Rating                20 non-null       float64
 10  Last Played           0 non-null        float64
 11  Days Since Last Play  20 non-null       float64
 12  0                     1 non-null        object
 13  1                     1 non-null        object
 14  2                     1 non-null        object
 15  3                     1 non-null        object
 16  4                     1 non-null        object
 17  5                     1 non-null        object
 18  6                     1 non-null        object
dtypes: float64(8), int64(1), object(10)
memory usage: 182.8+ MB

##### Remove columns with most null records

In [27]:
users.drop(columns=['Unnamed: 0','Rating','Last Played','Days Since Last Play',
                       '0', '1','2','3','4','5','6'], axis=1,
              inplace=True)

In [28]:
users.head()

,Game,Plays,BGG Rank,BGG Rating,Your Rating,Users Rating,Utilisation,file
0,Tichu,51.0,170.0,7.6,10.0,13267.0,99.9%,545.csv
1,Admin Test Item,47.0,-1.0,7.5,3.0,25.0,99.9%,545.csv
2,Magic: The Gathering,18.0,158.0,7.5,10.0,32365.0,98.4%,545.csv
3,Agricola,16.0,31.0,7.9,10.0,63367.0,97.4%,545.csv
4,Ticket to Ride,15.0,174.0,7.4,10.0,71408.0,96.8%,545.csv

##### Set the name of the file as user id

In [29]:
file= users['file'].str.split('.', n=1, expand= True)
users.insert(0, 'u_id', file[0])
users.drop(columns =['file'], inplace= True)

In [30]:
users.head()

,u_id,Game,Plays,BGG Rank,BGG Rating,Your Rating,Users Rating,Utilisation
0,545,Tichu,51.0,170.0,7.6,10.0,13267.0,99.9%
1,545,Admin Test Item,47.0,-1.0,7.5,3.0,25.0,99.9%
2,545,Magic: The Gathering,18.0,158.0,7.5,10.0,32365.0,98.4%
3,545,Agricola,16.0,31.0,7.9,10.0,63367.0,97.4%
4,545,Ticket to Ride,15.0,174.0,7.4,10.0,71408.0,96.8%

<a id="ude"></a>

- ### Data Engineering

In [31]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260896 entries, 0 to 1260895
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   u_id          1260896 non-null  object
 1   Game          1260895 non-null  object
 2   Plays         1260875 non-null  float64
 3   BGG Rank      1260875 non-null  float64
 4   BGG Rating    1260875 non-null  float64
 5   Your Rating   1260875 non-null  float64
 6   Users Rating  1260875 non-null  float64
 7   Utilisation   1260875 non-null  object
dtypes: float64(5), object(3)
memory usage: 77.0+ MB

In [32]:
users['u_id']=users['u_id'].astype(int)

In [33]:
users[users['u_id']==0]

,u_id,Game,Plays,BGG Rank,BGG Rating,Your Rating,Users Rating,Utilisation
186645,0,Telestrations,26.0,258.0,7.4,7.5,12793.0,99.7%
186646,0,My City,21.0,770.0,7.9,8.0,1578.0,99.2%
186647,0,No Thanks!,16.0,449.0,7.1,8.5,20289.0,97.4%
186648,0,Pandemic Legacy: Season 1,12.0,2.0,8.6,8.5,41490.0,93.6%
186649,0,Escape: The Curse of the Temple,12.0,544.0,7.0,8.0,15459.0,93.6%
...,...,...,...,...,...,...,...,...
187184,0,2 de Mayo,0.0,1468.0,6.9,6.5,1900.0,0.0%
187185,0,1830: Railways & Robber Barons,0.0,196.0,7.9,-1.0,4680.0,0.0%
187186,0,Zooloretto,0.0,755.0,6.8,7.5,13881.0,0.0%
187187,0,Zooloretto: Christmas Tree,0.0,-1.0,6.6,-1.0,97.0,0.0%
187188,0,Zooloretto: Three Extra Enclosures,0.0,-1.0,6.8,-1.0,362.0,0.0%

In [34]:
users['u_id']=users['u_id']+1

In [35]:
users.describe()

,u_id,Plays,BGG Rank,BGG Rating,Your Rating,Users Rating
count,1.260896e+06,1.260875e+06,1.260875e+06,1.260875e+06,1.260875e+06,1.260875e+06
mean,1.404172e+03,2.857805e+00,2.462062e+03,7.042334e+00,2.701321e+00,5.761924e+03
std,8.142352e+02,2.254360e+01,4.513049e+03,8.895329e-01,4.191426e+00,1.233732e+04
min,1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,6.980000e+02,0.000000e+00,-1.000000e+00,6.600000e+00,-1.000000e+00,2.140000e+02
50%,1.375000e+03,0.000000e+00,4.350000e+02,7.100000e+00,-1.000000e+00,1.077000e+03
75%,2.088000e+03,2.000000e+00,2.523000e+03,7.600000e+00,7.000000e+00,4.949000e+03
max,2.852000e+03,6.741000e+03,2.028500e+04,1.000000e+01,1.000000e+01,1.018650e+05