In [1]:
import pandas as pd
from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
folder= './Data'

In [26]:
df_bgame = pd.read_csv(folder+'/BggGames.csv', usecols= ['bgg_id','name','category','rank'])

df_bgame.head(10)

   bgg_id                name        category    rank
0       1          Die Macher  1021,1026,1001   262.0
1       2        Dragonmaster       1002,1010  3473.0
2       3             Samurai       1009,1035   199.0
3       4      Tal der Könige            1050  4584.0
4       5             Acquire            1021   254.0
5       6  Mare Mediterraneum       1015,1008  9415.0
6       7           Cathedral            1009  1776.0
7       8   Lords of Creation       1015,1010  7799.0
8       9        El Caballero            1020  2521.0
9      10           Elfenland       1010,1097   972.0

In [102]:
df_bgame100= df_bgame[df_bgame['rank']<=100].sort_values('rank')
df_bgame100.tail(50)

,bgg_id,name,category,rank
24494,28143,Race for the Galaxy,"1002,1015,1021,1016,1113",51.0
81143,247763,Underwater Cities,"1002,1029,1015,1088,1008,1016",52.0
52715,125153,The Gallerist,1021,53.0
62296,159675,Fields of Arle,"1021,1013,1088",54.0
39745,62219,Dominant Species,"1089,1084,1036",55.0
51902,122515,Keyflower,"1029,1021,1008,1070,1086,1011",56.0
61616,157354,Five Tribes,"1089,1052,1010,1082",57.0
70477,192135,Too Many Bones,"1022,1017,1010",58.0
49125,110327,Lords of Waterdeep,"1029,1010",59.0
72448,201808,Clank!: A Deck-Building Adventure,"1022,1010",60.0
16307,18602,Caylus,"1029,1021,1035",61.0
77481,229853,Teotihuacan: City of Gods,1050,62.0
62760,161533,Lisboa,"1029,1021,1088,1001",63.0
85,93,El Grande,"1035,1070",64.0
10959,12493,Twilight Imperium (Third Edition),"1015,1026,1001,1016,1113,1019",65.0
73227,205896,Rising Sun,"1023,1010,1047,1082,1026,1019",66.0
58592,146021,Eldritch Horror,"1022,1010,1046,1024,1093,1097",67.0
459,521,Crokinole,1032,68.0
89062,285774,Marvel Champions: The Card Game,"1002,1044,1116",69.0
65475,172386,Mombasa,1021,70.0
72250,200680,Agricola (Revised Edition),"1089,1021,1013",71.0
35375,40834,Dominion: Intrigue,"1002,1035",72.0
32303,37111,Battlestar Galactica: The Board Game,"1023,1039,1064,1001,1016,1113,1081",73.0
78891,236457,Architects of the West Kingdom,"1029,1035",74.0
43208,73439,Troyes,"1017,1021,1035",75.0
70243,191189,Aeon's End,"1002,1010,1046,1016",76.0
80444,244521,The Quacks of Quedlinburg,1035,77.0
63277,163412,Patchwork,"1009,1028",78.0
87000,276025,Maracaibo,"1021,1020",79.0
67383,178900,Codenames,"1002,1039,1030,1081,1025",80.0
58191,144733,Russian Railroads,"1088,1034",81.0
55011,132531,Roll for the Galaxy,"1015,1017,1021,1016,1113",82.0
2156,2511,Sherlock Holmes Consulting Detective: The Tham...,"1039,1040,1093,2710,1081",83.0
39,42,Tigris & Euphrates,"1050,1015,1086",84.0
64819,170042,Raiders of the North Sea,"1035,1008",85.0
47734,102680,Trajan,"1050,1001",86.0
68838,184267,On Mars,"1029,1021,1020,1016,1113,1086",87.0
31505,36218,Dominion,"1002,1035",88.0
26599,30549,Pandemic,2145,89.0
71885,198928,Pandemic: Iberia,2145,90.0
53112,127023,Kemet,"1050,1046,1047,1082,1019",91.0
85274,266810,Paladins of the West Kingdom,1035,92.0
68490,182874,Grand Austria Hotel,1021,93.0
65446,172287,Champions of Midgard,"1022,1017,1010,1046,1035,1082",94.0
72883,203993,Lorenzo il Magnifico,1070,95.0
47996,103885,Star Wars: X-Wing Miniatures Game,"2650,1023,1044,1047,1064,1016,1019",96.0
71415,196340,Yokohama,1021,97.0
85820,269385,The Lord of the Rings: Journeys in Middle-earth,"1022,1010,1046,1047,1093",98.0
66279,175155,Forbidden Stars,"1023,1046,1047,1016,1019",99.0
30098,34635,Stone Age,"1017,1021,1036",100.0

In [28]:
df_bgame100.shape

(100, 4)

In [110]:
df_bgame100['category'] = df_bgame100['category'].map(lambda x: x.replace(',', ' '))
print(df_bgame100['category'])

66090              1022 1020 1010 1046 1047
62878                             1084 2145
76339                        1021 1088 1011
64259         1021 1084 1088 1016 1113 1086
68241                        1002 1015 1021
                        ...
47996    2650 1023 1044 1047 1064 1016 1019
71415                                  1021
85820              1022 1010 1046 1047 1093
66279              1023 1046 1047 1016 1019
30098                        1017 1021 1036
Name: category, Length: 100, dtype: object

In [111]:
df_bgame100.drop(columns = ['rank'], inplace = True)

In [112]:
df_bgame100.set_index('name', inplace = True)
df_bgame100.head()

,bgg_id,category
name,,
Gloomhaven,174430,1022 1020 1010 1046 1047
Pandemic Legacy: Season 1,161936,1084 2145
Brass: Birmingham,224517,1021 1088 1011
Terraforming Mars,167791,1021 1084 1088 1016 1113 1086
Through the Ages: A New Story of Civilization,182028,1002 1015 1021

In [123]:
print(np.where(df_bgame100.index=='Tal der Könige')[0])

[]

In [114]:
count = CountVectorizer()
count_matrix = count.fit_transform(df_bgame100['category'])

In [115]:
cosine = cosine_similarity(count_matrix, count_matrix)
cosine

array([[1.        , 0.        , 0.        , ..., 0.8       , 0.4       ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.33333333],
       ...,
       [0.8       , 0.        , 0.        , ..., 1.        , 0.4       ,
        0.        ],
       [0.4       , 0.        , 0.        , ..., 0.4       , 1.        ,
        0.        ],
       [0.        , 0.        , 0.33333333, ..., 0.        , 0.        ,
        1.        ]])

In [106]:
def game_recommendations(name, cosine = cosine):
    
    recommended = []
    indices = pd.Series(df_bgame100.index)
    idx = indices[indices == name].index[0]
    score = pd.Series(cosine[idx]).sort_values(ascending = False)
    top_10 = list(score.iloc[1:11].index)
    for i in top_10:
        recommended.append(list(df_bgame100.index)[i])
        
    return recommended

In [142]:
game_recommendations('Agricola')

['Agricola',
 'Caverna: The Cave Farmers',
 'Clans of Caledonia',
 'Viticulture Essential Edition',
 'Fields of Arle',
 'Puerto Rico',
 'Yokohama',
 'The Gallerist',
 'Grand Austria Hotel',
 'Mombasa']

In [235]:
def two_game_recommendations(name1,name2, cosine = cosine):
    
    recommended = []
    other= []
    indices = pd.Series(df_bgame100.index)
    idx1 = indices[indices == name1].index[0]
    idx2 = indices[indices == name2].index[0]
    score1 = pd.Series(cosine[idx1]).sort_values(ascending = False)
    score2 = pd.Series(cosine[idx2]).sort_values(ascending = False)
    top_100_1= list(score1.iloc[1:101].index)
    top_100_2=list(score2.iloc[1:101].index)
 

    for count,i in enumerate (top_100_1):
        for x in top_100_2:
            if x== i and count<10:
                recommended.append(list(df_bgame100.index)[i])
    return recommended

In [237]:
two_game_recommendations('Gloomhaven','Agricola')

['Mage Knight Board Game',
 'The Lord of the Rings: Journeys in Middle-earth',
 'Mansions of Madness: Second Edition',
 'War of the Ring: Second Edition',
 'Robinson Crusoe: Adventures on the Cursed Island',
 'Mechs vs. Minions',
 'Clank!: A Deck-Building Adventure',
 'Star Wars: Imperial Assault',
 'Champions of Midgard',
 'Kingdom Death: Monster']