In [2]:
import os
import pandas as pd
import numpy as np
import glob

In [3]:
%cd /Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020

In [ ]:

!ls | xargs wc -l > countfile.txt

In [4]:
df= pd.read_csv("countfile.txt", sep= " ",header = None,error_bad_lines=False, warn_bad_lines=False)
df

       0           1      2        3                    4
0    NaN         NaN    NaN  18332.0  20200101-000000.csv
1    NaN         NaN    NaN  18332.0  20200101-001107.csv
2    NaN         NaN    NaN  18243.0  20200101-202400.csv
3    NaN         NaN    NaN  18215.0  20200101-203159.csv
4    NaN         NaN    NaN  18344.0  20200101-235810.csv
...   ..         ...    ...      ...                  ...
1823 NaN         NaN    NaN  19126.0  20200707-031943.csv
1824 NaN         NaN    NaN  19126.0  20200707-034232.csv
1825 NaN         NaN    NaN  19128.0  20200708-000000.csv
1826 NaN         NaN    NaN  19131.0  20200709-000000.csv
1827 NaN  34518776.0  total      NaN                  NaN

[1828 rows x 5 columns]

In [5]:
df=pd.read_csv("countfile.txt", sep= " ",header = None, usecols=[3,4],names= ['files','datehour'],error_bad_lines=False)
df

        files             datehour
0     18332.0  20200101-000000.csv
1     18332.0  20200101-001107.csv
2     18243.0  20200101-202400.csv
3     18215.0  20200101-203159.csv
4     18344.0  20200101-235810.csv
...       ...                  ...
1953  19126.0  20200707-034232.csv
1954  19128.0  20200708-000000.csv
1955  19131.0  20200709-000000.csv
1956      NaN                 1836
1957      NaN                  NaN

[1958 rows x 2 columns]

In [6]:
df[['date', 'hour']] = df['datehour'].str.split('-', n=1, expand=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv
1956      NaN                 1836      1836        None
1957      NaN                  NaN       NaN         NaN

[1958 rows x 4 columns]

In [7]:
df.columns

Index(['files', 'datehour', 'date', 'hour'], dtype='object')

In [8]:
df.shape

(1958, 4)

In [9]:
df.dropna(inplace=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1951  19126.0  20200707-031445.csv  20200707  031445.csv
1952  19126.0  20200707-031943.csv  20200707  031943.csv
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv

[1827 rows x 4 columns]

In [10]:
df.set_index('date', inplace=True)
df.head()

            files             datehour        hour
date
20200101  18332.0  20200101-000000.csv  000000.csv
20200101  18332.0  20200101-001107.csv  001107.csv
20200101  18243.0  20200101-202400.csv  202400.csv
20200101  18215.0  20200101-203159.csv  203159.csv
20200101  18344.0  20200101-235810.csv  235810.csv

In [11]:
df.loc['20200105'].max()

files                     18361
datehour    20200105-203204.csv
hour                 203204.csv
dtype: object

In [12]:
df.index

Index(['20200101', '20200101', '20200101', '20200101', '20200101', '20200102',
       '20200102', '20200102', '20200102', '20200102',
       ...
       '20200706', '20200706', '20200706', '20200706', '20200707', '20200707',
       '20200707', '20200707', '20200708', '20200709'],
      dtype='object', name='date', length=1827)

In [13]:
gby= df.groupby('date').agg('max')
gby

            files             datehour        hour
date
20200101  18344.0  20200101-235810.csv  235810.csv
20200102  18344.0  20200102-203205.csv  203205.csv
20200103  18353.0  20200103-203201.csv  203201.csv
20200104  18356.0  20200104-203157.csv  203157.csv
20200105  18361.0  20200105-203204.csv  203204.csv
...           ...                  ...         ...
20200705  19121.0  20200705-215608.csv  215608.csv
20200706  19126.0  20200706-213046.csv  213046.csv
20200707  19126.0  20200707-034232.csv  034232.csv
20200708  19128.0  20200708-000000.csv  000000.csv
20200709  19131.0  20200709-000000.csv  000000.csv

[191 rows x 3 columns]

In [ ]:
!mkdir "Newfolder_Rank_2020"

In [ ]:
!ls

In [ ]:
np.savetxt('20200825_test.txt', gby['datehour'], delimiter=",", fmt="%s")

In [ ]:
#Probar mañan

path1 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020"
path2 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Prueba"
os.chdir(path1)
list_file = open('20200825_test.txt', "r")
listado = list_file.read().splitlines()

for file in listado:
    if file in os.listdir(path1):
        file = os.path.join(path1, file)
        print(file)
        os.popen(os.path.join(path2,f))
    else:
        print('file does not exist: filename')
list_file.close()

In [ ]:
#Es lo mismo de antes pero con otra biblioteca

import shutil
path1 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020"
path2 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Untitled Folder"
os.chdir(path)
list_file = open('20200825_test.txt', "r")
listado = list_file.read().splitlines()
list_file.close()
for file in listado:
    if file in os.listdir(path1):
        file = os.path.join(path1, file)
        print(file)
        shutil.copy(file, path2)
    else:
        print('file does not exist: filename')

In [14]:


path = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Untitled Folder"

all_files = glob.glob(os.path.join(path, "2020*.csv"))

all_df = []
for f in all_files:
    df = pd.read_csv(f, sep=',')
    df['file'] = f.split('/')[-1]
    df[['date', 'hour']] = df['file'].str.split('-', n=1, expand=True)
    all_df.append(df)
    
merged_df = pd.concat(all_df, ignore_index=True)
merged_df

          rank  bgg_id  score                 file      date        hour
0            1  174430  8.584  20200124-203159.csv  20200124  203159.csv
1            2  161936  8.471  20200124-203159.csv  20200124  203159.csv
2            3  167791  8.269  20200124-203159.csv  20200124  203159.csv
3            4  182028  8.236  20200124-203159.csv  20200124  203159.csv
4            5  224517  8.214  20200124-203159.csv  20200124  203159.csv
...        ...     ...    ...                  ...       ...         ...
3566339  18758   16398  3.998  20200413-215329.csv  20200413  215329.csv
3566340  18759    7316  3.914  20200413-215329.csv  20200413  215329.csv
3566341  18760    5048  3.775  20200413-215329.csv  20200413  215329.csv
3566342  18761    5432  3.599  20200413-215329.csv  20200413  215329.csv
3566343  18762   11901  3.525  20200413-215329.csv  20200413  215329.csv

[3566344 rows x 6 columns]

In [15]:
merged_df.shape

(3566344, 6)

In [16]:
last_date= merged_df[merged_df['date']== '20200709']
last_date['score'].sum()

108844.421

In [17]:
w1=last_date.copy(deep=True)

In [18]:
a, b = 0, 1
x= 0
y = last_date.score.max()
w1['norm'] = (w1.score - x) / (y - x) * (b - a) + a
w1

,rank,bgg_id,score,file,date,hour,norm
2890648,1,174430,8.573,20200709-000000.csv,20200709,000000.csv,1.000000
2890649,2,161936,8.472,20200709-000000.csv,20200709,000000.csv,0.988219
2890650,3,224517,8.290,20200709-000000.csv,20200709,000000.csv,0.966989
2890651,4,167791,8.280,20200709-000000.csv,20200709,000000.csv,0.965823
2890652,5,182028,8.216,20200709-000000.csv,20200709,000000.csv,0.958358
...,...,...,...,...,...,...,...
2909773,19126,16398,4.001,20200709-000000.csv,20200709,000000.csv,0.466698
2909774,19127,7316,3.929,20200709-000000.csv,20200709,000000.csv,0.458299
2909775,19128,5048,3.780,20200709-000000.csv,20200709,000000.csv,0.440919
2909776,19129,5432,3.607,20200709-000000.csv,20200709,000000.csv,0.420740
2909777,19130,11901,3.538,20200709-000000.csv,20200709,000000.csv,0.412691

In [14]:
r10= merged_df[merged_df['rank']<11]

In [15]:
top10= r10.groupby(['bgg_id','rank'])['rank'].count()
top10.head(30)

bgg_id  rank
12333   7        80
        8        72
        9        39
161936  2       191
167791  3       155
        4        36
169786  10       39
174430  1       191
182028  4        54
        5       137
187645  7       111
        8        80
193738  10      152
220308  8        39
        9       152
224517  3        36
        4       101
        5        54
233078  6       191
Name: rank, dtype: int64

In [16]:
r10.groupby(['bgg_id','rank'])['rank'].count()

bgg_id  rank
12333   7        80
        8        72
        9        39
161936  2       191
167791  3       155
        4        36
169786  10       39
174430  1       191
182028  4        54
        5       137
187645  7       111
        8        80
193738  10      152
220308  8        39
        9       152
224517  3        36
        4       101
        5        54
233078  6       191
Name: rank, dtype: int64

In [17]:
r100= merged_df[merged_df['rank']<101]

In [18]:
a= r100.groupby(['bgg_id','rank'])['rank'].count()

In [ ]:
a.to_csv('r100.csv')

In [20]:
b= merged_df.groupby(['bgg_id','rank'])['rank'].count()
b.head(20)

bgg_id  rank
1       245      1
        246      6
        247      8
        248      2
        249      6
        250     18
        251      1
        252     35
        253     16
        254     17
        255     32
        256      8
        257      6
        258      3
        259      1
        260     10
        261     10
        262      6
        263      5
2       3371     2
Name: rank, dtype: int64

In [21]:
bggid= merged_df[merged_df['bgg_id']==174430]
bggid

         rank  bgg_id  score                 file      date        hour
0           1  174430  8.584  20200124-203159.csv  20200124  203159.csv
18410       1  174430  8.585  20200102-203205.csv  20200102  203205.csv
36722       1  174430  8.573  20200626-224547.csv  20200626  224547.csv
55806       1  174430  8.575  20200427-225821.csv  20200427  225821.csv
74626       1  174430  8.577  20200404-234321.csv  20200404  234321.csv
...       ...     ...    ...                  ...       ...         ...
3472390     1  174430  8.580  20200219-212020.csv  20200219  212020.csv
3490972     1  174430  8.575  20200429-232019.csv  20200429  232019.csv
3509798     1  174430  8.581  20200309-235622.csv  20200309  235622.csv
3528462     1  174430  8.573  20200705-215608.csv  20200705  215608.csv
3547582     1  174430  8.577  20200413-215329.csv  20200413  215329.csv

[191 rows x 6 columns]

In [22]:
bggid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 3547582
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rank    191 non-null    int64
 1   bgg_id  191 non-null    int64
 2   score   191 non-null    float64
 3   file    191 non-null    object
 4   date    191 non-null    object
 5   hour    191 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 10.4+ KB

In [23]:
bggid.groupby(['bgg_id','rank']).agg({'score': 'sum'})

               score
bgg_id rank
174430 1     1638.42

In [26]:
best_position= merged_df.groupby(['bgg_id']).agg({'score': 'sum', 'rank': 'min'})
best_position

           score   rank
bgg_id
1       1366.403    245
2       1109.390   3371
3       1384.361    193
4       1083.648   4400
5       1369.130    240
...          ...    ...
306687     5.522  12736
307305   284.273   7482
308565   188.456   9152
308989    27.595  13170
310100   182.315  10777

[19193 rows x 2 columns]