In [1]:
%cd Data/Rank/2020

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Rank/2020

In [2]:
!ls | xargs wc -l > countfile.txt

In [47]:
import pandas as pd
import numpy as np

In [48]:
df= pd.read_csv("countfile.txt", sep= " ",header = None,error_bad_lines=False)
df

b'Skipping line 13: expected 5 fields, saw 6\nSkipping line 21: expected 5 fields, saw 7\nSkipping line 30: expected 5 fields, saw 7\nSkipping line 40: expected 5 fields, saw 6\nSkipping line 64: expected 5 fields, saw 7\nSkipping line 65: expected 5 fields, saw 6\nSkipping line 75: expected 5 fields, saw 6\nSkipping line 102: expected 5 fields, saw 7\nSkipping line 120: expected 5 fields, saw 6\nSkipping line 148: expected 5 fields, saw 7\nSkipping line 158: expected 5 fields, saw 6\nSkipping line 190: expected 5 fields, saw 7\nSkipping line 196: expected 5 fields, saw 7\nSkipping line 206: expected 5 fields, saw 6\nSkipping line 236: expected 5 fields, saw 7\nSkipping line 281: expected 5 fields, saw 7\nSkipping line 291: expected 5 fields, saw 7\nSkipping line 294: expected 5 fields, saw 7\nSkipping line 295: expected 5 fields, saw 7\nSkipping line 296: expected 5 fields, saw 7\nSkipping line 297: expected 5 fields, saw 7\nSkipping line 330: expected 5 fields, saw 7\nSkipping line 352: expected 5 fields, saw 6\nSkipping line 358: expected 5 fields, saw 7\nSkipping line 359: expected 5 fields, saw 6\nSkipping line 381: expected 5 fields, saw 7\nSkipping line 382: expected 5 fields, saw 6\nSkipping line 407: expected 5 fields, saw 6\nSkipping line 418: expected 5 fields, saw 6\nSkipping line 433: expected 5 fields, saw 7\nSkipping line 458: expected 5 fields, saw 6\nSkipping line 459: expected 5 fields, saw 6\nSkipping line 479: expected 5 fields, saw 7\nSkipping line 485: expected 5 fields, saw 7\nSkipping line 496: expected 5 fields, saw 7\nSkipping line 503: expected 5 fields, saw 6\nSkipping line 522: expected 5 fields, saw 7\nSkipping line 525: expected 5 fields, saw 6\nSkipping line 536: expected 5 fields, saw 7\nSkipping line 557: expected 5 fields, saw 7\nSkipping line 558: expected 5 fields, saw 6\nSkipping line 559: expected 5 fields, saw 6\nSkipping line 565: expected 5 fields, saw 7\nSkipping line 568: expected 5 fields, saw 7\nSkipping line 572: expected 5 fields, saw 7\nSkipping line 577: expected 5 fields, saw 7\nSkipping line 581: expected 5 fields, saw 6\nSkipping line 593: expected 5 fields, saw 7\nSkipping line 601: expected 5 fields, saw 6\nSkipping line 608: expected 5 fields, saw 6\nSkipping line 615: expected 5 fields, saw 6\nSkipping line 622: expected 5 fields, saw 7\nSkipping line 626: expected 5 fields, saw 7\nSkipping line 634: expected 5 fields, saw 6\nSkipping line 635: expected 5 fields, saw 6\nSkipping line 665: expected 5 fields, saw 7\nSkipping line 715: expected 5 fields, saw 7\nSkipping line 769: expected 5 fields, saw 7\nSkipping line 774: expected 5 fields, saw 6\nSkipping line 775: expected 5 fields, saw 6\nSkipping line 788: expected 5 fields, saw 7\nSkipping line 792: expected 5 fields, saw 6\nSkipping line 793: expected 5 fields, saw 6\nSkipping line 882: expected 5 fields, saw 7\nSkipping line 989: expected 5 fields, saw 6\nSkipping line 996: expected 5 fields, saw 7\nSkipping line 1015: expected 5 fields, saw 6\nSkipping line 1033: expected 5 fields, saw 6\nSkipping line 1049: expected 5 fields, saw 6\nSkipping line 1050: expected 5 fields, saw 6\nSkipping line 1067: expected 5 fields, saw 6\nSkipping line 1117: expected 5 fields, saw 7\nSkipping line 1118: expected 5 fields, saw 7\nSkipping line 1123: expected 5 fields, saw 7\nSkipping line 1131: expected 5 fields, saw 6\nSkipping line 1170: expected 5 fields, saw 6\nSkipping line 1171: expected 5 fields, saw 6\nSkipping line 1187: expected 5 fields, saw 6\nSkipping line 1188: expected 5 fields, saw 7\nSkipping line 1189: expected 5 fields, saw 7\nSkipping line 1190: expected 5 fields, saw 7\nSkipping line 1213: expected 5 fields, saw 7\nSkipping line 1215: expected 5 fields, saw 7\nSkipping line 1216: expected 5 fields, saw 6\nSkipping line 1232: expected 5 fields, saw 6\nSkipping line 1267: expected 5 fields, saw 6\nSkipping line 1309: expected 5 fields, saw 7\nSkipping line 1311: expected 5 fields, saw 6\nSkipping line 1326: expected 5 fields, saw 6\nSkipping line 1329: expected 5 fields, saw 7\nSkipping line 1344: expected 5 fields, saw 6\nSkipping line 1378: expected 5 fields, saw 6\nSkipping line 1440: expected 5 fields, saw 7\nSkipping line 1441: expected 5 fields, saw 6\nSkipping line 1442: expected 5 fields, saw 6\nSkipping line 1476: expected 5 fields, saw 6\nSkipping line 1510: expected 5 fields, saw 6\nSkipping line 1557: expected 5 fields, saw 7\nSkipping line 1573: expected 5 fields, saw 6\nSkipping line 1574: expected 5 fields, saw 6\nSkipping line 1575: expected 5 fields, saw 7\nSkipping line 1580: expected 5 fields, saw 7\nSkipping line 1588: expected 5 fields, saw 6\nSkipping line 1612: expected 5 fields, saw 6\nSkipping line 1613: expected 5 fields, saw 7\nSkipping line 1677: expected 5 fields, saw 7\nSkipping line 1707: expected 5 fields, saw 7\nSkipping line 1708: expected 5 fields, saw 7\nSkipping line 1709: expected 5 fields, saw 7\nSkipping line 1710: expected 5 fields, saw 7\nSkipping line 1716: expected 5 fields, saw 7\nSkipping line 1764: expected 5 fields, saw 7\nSkipping line 1766: expected 5 fields, saw 7\nSkipping line 1770: expected 5 fields, saw 7\nSkipping line 1774: expected 5 fields, saw 7\nSkipping line 1777: expected 5 fields, saw 7\nSkipping line 1779: expected 5 fields, saw 7\nSkipping line 1785: expected 5 fields, saw 7\nSkipping line 1786: expected 5 fields, saw 6\nSkipping line 1795: expected 5 fields, saw 6\nSkipping line 1802: expected 5 fields, saw 6\nSkipping line 1809: expected 5 fields, saw 6\nSkipping line 1812: expected 5 fields, saw 7\nSkipping line 1835: expected 5 fields, saw 7\nSkipping line 1865: expected 5 fields, saw 6\nSkipping line 1875: expected 5 fields, saw 7\nSkipping line 1934: expected 5 fields, saw 6\nSkipping line 1938: expected 5 fields, saw 7\nSkipping line 1950: expected 5 fields, saw 6\nSkipping line 1957: expected 5 fields, saw 6\n'

       0           1      2        3                    4
0    NaN         NaN    NaN  18332.0  20200101-000000.csv
1    NaN         NaN    NaN  18332.0  20200101-001107.csv
2    NaN         NaN    NaN  18243.0  20200101-202400.csv
3    NaN         NaN    NaN  18215.0  20200101-203159.csv
4    NaN         NaN    NaN  18344.0  20200101-235810.csv
...   ..         ...    ...      ...                  ...
1823 NaN         NaN    NaN  19126.0  20200707-031943.csv
1824 NaN         NaN    NaN  19126.0  20200707-034232.csv
1825 NaN         NaN    NaN  19128.0  20200708-000000.csv
1826 NaN         NaN    NaN  19131.0  20200709-000000.csv
1827 NaN  34518776.0  total      NaN                  NaN

[1828 rows x 5 columns]

In [49]:
df=pd.read_csv("countfile.txt", sep= " ",header = None, usecols=[3,4],names= ['files','datehour'],error_bad_lines=False)
df

        files             datehour
0     18332.0  20200101-000000.csv
1     18332.0  20200101-001107.csv
2     18243.0  20200101-202400.csv
3     18215.0  20200101-203159.csv
4     18344.0  20200101-235810.csv
...       ...                  ...
1953  19126.0  20200707-034232.csv
1954  19128.0  20200708-000000.csv
1955  19131.0  20200709-000000.csv
1956      NaN                 1836
1957      NaN                  NaN

[1958 rows x 2 columns]

In [50]:
df[['date', 'hour']] = df['datehour'].str.split('-', n=1, expand=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv
1956      NaN                 1836      1836        None
1957      NaN                  NaN       NaN         NaN

[1958 rows x 4 columns]

In [51]:
df.columns

Index(['files', 'datehour', 'date', 'hour'], dtype='object')

In [53]:
df.shape

(1958, 4)

In [55]:
df.dropna(inplace=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1951  19126.0  20200707-031445.csv  20200707  031445.csv
1952  19126.0  20200707-031943.csv  20200707  031943.csv
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv

[1827 rows x 4 columns]

In [56]:
df.set_index('date', inplace=True)
df.head()

            files             datehour        hour
date
20200101  18332.0  20200101-000000.csv  000000.csv
20200101  18332.0  20200101-001107.csv  001107.csv
20200101  18243.0  20200101-202400.csv  202400.csv
20200101  18215.0  20200101-203159.csv  203159.csv
20200101  18344.0  20200101-235810.csv  235810.csv

In [74]:
df.loc['20200105'].max()

files                     18361
datehour    20200105-203204.csv
hour                 203204.csv
dtype: object

In [58]:
df.index

Index(['20200101', '20200101', '20200101', '20200101', '20200101', '20200102',
       '20200102', '20200102', '20200102', '20200102',
       ...
       '20200706', '20200706', '20200706', '20200706', '20200707', '20200707',
       '20200707', '20200707', '20200708', '20200709'],
      dtype='object', name='date', length=1827)

In [76]:
gby= df.groupby('date')['files'].agg(files_max="max")
gby

          files_max
date
20200101    18344.0
20200102    18344.0
20200103    18353.0
20200104    18356.0
20200105    18361.0
...             ...
20200705    19121.0
20200706    19126.0
20200707    19126.0
20200708    19128.0
20200709    19131.0

[191 rows x 1 columns]

In [ ]:
# We will only use the records with the highest number of rows