In [70]:
import os
import pandas as pd
import numpy as np
import glob

In [55]:
%cd /Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020

In [3]:
!ls | xargs wc -l > countfile.txt

In [4]:
df= pd.read_csv("countfile.txt", sep= " ",header = None,error_bad_lines=False, warn_bad_lines=False)
df

       0           1      2        3                    4
0    NaN         NaN    NaN  18332.0  20200101-000000.csv
1    NaN         NaN    NaN  18332.0  20200101-001107.csv
2    NaN         NaN    NaN  18243.0  20200101-202400.csv
3    NaN         NaN    NaN  18215.0  20200101-203159.csv
4    NaN         NaN    NaN  18344.0  20200101-235810.csv
...   ..         ...    ...      ...                  ...
1823 NaN         NaN    NaN  19126.0  20200707-031943.csv
1824 NaN         NaN    NaN  19126.0  20200707-034232.csv
1825 NaN         NaN    NaN  19128.0  20200708-000000.csv
1826 NaN         NaN    NaN  19131.0  20200709-000000.csv
1827 NaN  34518776.0  total      NaN                  NaN

[1828 rows x 5 columns]

In [5]:
df=pd.read_csv("countfile.txt", sep= " ",header = None, usecols=[3,4],names= ['files','datehour'],error_bad_lines=False)
df

        files             datehour
0     18332.0  20200101-000000.csv
1     18332.0  20200101-001107.csv
2     18243.0  20200101-202400.csv
3     18215.0  20200101-203159.csv
4     18344.0  20200101-235810.csv
...       ...                  ...
1953  19126.0  20200707-034232.csv
1954  19128.0  20200708-000000.csv
1955  19131.0  20200709-000000.csv
1956      NaN                 1836
1957      NaN                  NaN

[1958 rows x 2 columns]

In [6]:
df[['date', 'hour']] = df['datehour'].str.split('-', n=1, expand=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv
1956      NaN                 1836      1836        None
1957      NaN                  NaN       NaN         NaN

[1958 rows x 4 columns]

In [7]:
df.columns

Index(['files', 'datehour', 'date', 'hour'], dtype='object')

In [8]:
df.shape

(1958, 4)

In [9]:
df.dropna(inplace=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1951  19126.0  20200707-031445.csv  20200707  031445.csv
1952  19126.0  20200707-031943.csv  20200707  031943.csv
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv

[1827 rows x 4 columns]

In [10]:
df.set_index('date', inplace=True)
df.head()

            files             datehour        hour
date
20200101  18332.0  20200101-000000.csv  000000.csv
20200101  18332.0  20200101-001107.csv  001107.csv
20200101  18243.0  20200101-202400.csv  202400.csv
20200101  18215.0  20200101-203159.csv  203159.csv
20200101  18344.0  20200101-235810.csv  235810.csv

In [11]:
df.loc['20200105'].max()

files                     18361
datehour    20200105-203204.csv
hour                 203204.csv
dtype: object

In [12]:
df.index

Index(['20200101', '20200101', '20200101', '20200101', '20200101', '20200102',
       '20200102', '20200102', '20200102', '20200102',
       ...
       '20200706', '20200706', '20200706', '20200706', '20200707', '20200707',
       '20200707', '20200707', '20200708', '20200709'],
      dtype='object', name='date', length=1827)

In [13]:
gby= df.groupby('date').agg('max')
gby

            files             datehour        hour
date
20200101  18344.0  20200101-235810.csv  235810.csv
20200102  18344.0  20200102-203205.csv  203205.csv
20200103  18353.0  20200103-203201.csv  203201.csv
20200104  18356.0  20200104-203157.csv  203157.csv
20200105  18361.0  20200105-203204.csv  203204.csv
...           ...                  ...         ...
20200705  19121.0  20200705-215608.csv  215608.csv
20200706  19126.0  20200706-213046.csv  213046.csv
20200707  19126.0  20200707-034232.csv  034232.csv
20200708  19128.0  20200708-000000.csv  000000.csv
20200709  19131.0  20200709-000000.csv  000000.csv

[191 rows x 3 columns]

In [54]:
!mkdir "Newfolder_Rank_2020"

mkdir: Newfolder_Rank_2020: File exists

In [49]:
!ls

20200103-075838.csv 20200316-153914.csv 20200504-203040.csv 20200608-215142.csv
20200105-105842.csv 20200318-095906.csv 20200505-203030.csv 20200608-215219.csv
20200107-154409.csv 20200319-085803.csv 20200506-203016.csv 20200609-054555.csv
20200108-202403.csv 20200322-123755.csv 20200506-203028.csv 20200609-155130.csv
20200112-023405.csv 20200322-202400.csv 20200507-221418.csv 20200611-053514.csv
20200112-203206.csv 20200324-082737.csv 20200510-220429.csv 20200611-053544.csv
20200114-202409.csv 20200327-051141.csv 20200510-221122.csv 20200615-032800.csv
20200119-123233.csv 20200327-202436.csv 20200511-060144.csv 20200616-224527.csv
20200121-203202.csv 20200327-202556.csv 20200511-221606.csv 20200616-225556.csv
20200126-152009.csv 20200328-194616.csv 20200514-060008.csv 20200616-230532.csv
20200127-202414.csv 20200328-203215.csv 20200514-060100.csv 20200616-233232.csv
20200201-095421.csv 20200329-105829.csv 20200516-023107.csv 20200617-053041.csv
20200202-050148.csv 20200330-033419.csv 20200516-075133.csv 20200621-182908.csv
20200203-202404.csv 20200330-192355.csv 20200516-080452.csv 20200621-234342.csv
20200209-052417.csv 20200401-201235.csv 20200516-082307.csv 20200622-031215.csv
20200216-082717.csv 20200402-192402.csv 20200517-202132.csv 20200622-105817.csv
20200217-183915.csv 20200403-192356.csv 20200517-203519.csv 20200622-153209.csv
20200217-233440.csv 20200404-192400.csv 20200517-203724.csv 20200622-232755.csv
20200217-233513.csv 20200405-202623.csv 20200518-203020.csv 20200623-221318.csv
20200217-233546.csv 20200406-061303.csv 20200520-214806.csv 20200623-231931.csv
20200217-233612.csv 20200407-192405.csv 20200523-173548.csv 20200624-231926.csv
20200223-094339.csv 20200407-193207.csv 20200523-205929.csv 20200625-195232.csv
20200226-202401.csv 20200412-154542.csv 20200524-205933.csv 20200626-075425.csv
20200227-091411.csv 20200416-084558.csv 20200524-230200.csv 20200626-143828.csv
20200227-202407.csv 20200419-130352.csv 20200525-205931.csv 20200629-005347.csv
20200301-082734.csv 20200419-195958.csv 20200527-215157.csv 20200701-070020.csv
20200301-202354.csv 20200419-200012.csv 20200531-215340.csv 20200702-024818.csv
20200304-202402.csv 20200420-152859.csv 20200531-221709.csv 20200705-222257.csv
20200306-074632.csv 20200420-213437.csv 20200531-221723.csv 20200706-023539.csv
20200308-083958.csv 20200420-213506.csv 20200602-205835.csv 20200706-214306.csv
20200312-093046.csv 20200426-141519.csv 20200604-220001.csv 20200825_test.txt
20200312-093106.csv 20200503-054039.csv 20200607-215855.csv Newfolder_Rank_2020
20200315-122945.csv 20200503-182830.csv 20200608-210856.csv countfile.txt

In [64]:
np.savetxt('20200825_test.txt', gby['datehour'], delimiter=",", fmt="%s")

In [69]:
path1 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020"
path2 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Untitled Folder"
os.chdir(path)
list_file = open('20200825_test.txt', "r")
listado = list_file.read().splitlines()
list_file.close()
for file in listado:
    if file in os.listdir(path1):
        file = os.path.join(path1, file)
        print(file)
        shutil.copy(file, path2)
    else:
        print('file does not exist: filename')

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200101-235810.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200102-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200103-203201.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200104-203157.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200105-203204.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200106-231435.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200107-203209.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200108-203202.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200109-203212.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200110-203153.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200111-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200112-003318.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200113-203209.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200114-203210.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200115-203206.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200116-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200117-203158.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200118-235441.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200119-203201.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200120-203213.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200121-202357.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200122-125821.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200123-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200124-203159.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200125-203208.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200126-203223.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200127-203202.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200128-212611.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200129-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200130-203204.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200131-203203.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200201-203159.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200202-203157.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200203-203207.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200204-203201.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200205-203209.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200206-203159.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200207-203210.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200208-203157.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200209-203202.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200210-202410.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200211-203203.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200212-203201.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200213-203204.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200214-203206.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200215-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200216-203216.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200217-203159.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200218-203156.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200219-212020.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200220-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200221-203200.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200222-203208.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200223-203204.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200224-213402.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200225-203211.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200226-203203.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200227-203323.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200228-203203.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200229-203204.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200301-224045.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200302-224827.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200303-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200304-203208.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200305-203246.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200306-234229.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200307-235208.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200308-203202.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200309-235622.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200310-203203.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200311-233454.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200312-203157.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200313-235537.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200314-203238.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200315-203209.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200316-203158.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200317-203205.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200318-203206.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200319-235944.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200320-203210.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200321-203202.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200322-203209.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200323-203157.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200324-203201.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200325-203147.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200326-203156.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200327-222851.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200328-203155.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200329-193217.csv

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200330-193546.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200331-234908.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200401-193158.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200402-193200.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200403-193152.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200404-234321.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200405-193206.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200406-234118.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200407-000000.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200408-193208.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200409-232805.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200410-231455.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200411-193208.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200412-230604.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200413-215329.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200414-225025.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200415-223059.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200416-225932.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200417-223904.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200418-223800.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200419-223739.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200420-232601.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200421-232611.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200422-214730.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200423-230900.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200424-225950.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200425-225910.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200426-225845.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200427-225821.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200428-225756.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200429-232019.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200430-234206.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200501-234125.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200502-234052.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200503-224218.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200504-235612.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200505-192530.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200506-234105.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200507-202955.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200508-202919.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200509-202904.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200510-232236.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200511-215541.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200512-235959.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200513-231552.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200514-225158.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200515-203115.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200516-203727.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200517-203744.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200518-203806.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200519-203730.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200520-203740.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200521-205930.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200522-223013.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200523-232442.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200524-232416.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200525-232346.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200526-232316.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200527-204910.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200528-222755.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200529-222801.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200530-222756.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200531-194905.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200601-233455.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200602-233456.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200603-234300.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200604-235436.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200605-223422.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200606-235653.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200607-234300.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200608-204037.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200609-222434.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200610-233508.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200611-235511.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200612-235438.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200613-235429.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200614-235405.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200615-235350.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200616-235331.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200617-235305.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200618-221709.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200619-223059.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200620-231427.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200621-235116.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200622-194220.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200623-211418.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200624-215954.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200625-131511.csv

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200626-224547.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200627-212525.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200628-225137.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200629-192507.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200630-233620.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200701-223152.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200702-225323.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200703-224812.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200704-223213.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200705-215608.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200706-213046.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200707-034232.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200708-000000.csv
/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020/20200709-000000.csv

In [78]:
path = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Untitled Folder"

all_files = glob.glob(os.path.join(path, "2020*.csv"))

all_df = []
for f in all_files:
    df = pd.read_csv(f, sep=',')
    df['file'] = f.split('/')[-1]
    df[['date', 'hour']] = df['file'].str.split('-', n=1, expand=True)
    all_df.append(df)
    
merged_df = pd.concat(all_df, ignore_index=True)
merged_df

          rank  bgg_id  score                 file      date        hour
0            1  174430  8.584  20200124-203159.csv  20200124  203159.csv
1            2  161936  8.471  20200124-203159.csv  20200124  203159.csv
2            3  167791  8.269  20200124-203159.csv  20200124  203159.csv
3            4  182028  8.236  20200124-203159.csv  20200124  203159.csv
4            5  224517  8.214  20200124-203159.csv  20200124  203159.csv
...        ...     ...    ...                  ...       ...         ...
3566339  18758   16398  3.998  20200413-215329.csv  20200413  215329.csv
3566340  18759    7316  3.914  20200413-215329.csv  20200413  215329.csv
3566341  18760    5048  3.775  20200413-215329.csv  20200413  215329.csv
3566342  18761    5432  3.599  20200413-215329.csv  20200413  215329.csv
3566343  18762   11901  3.525  20200413-215329.csv  20200413  215329.csv

[3566344 rows x 6 columns]