In [1]:
import pandas as pd
import numpy as np

In [2]:
folder= './Data'

df_bgame = pd.read_csv(folder+'/BggGames.csv')

print('Total of boardgames: ' + str(df_bgame.bgg_id.nunique()))
df_bgame.head()

Total of boardgames: 95530

,bgg_id,name,year,game_type,designer,artist,publisher,min_players,max_players,min_players_rec,...,stddev_rating,bayes_rating,complexity,language_dependency,bga_id,dbpedia_id,luding_id,spielen_id,wikidata_id,wikipedia_id
0,1,Die Macher,1986.0,5497,1,"12517,4959","133,2,2726,15108,39249,11652,5382,8147",3.0,5.0,4.0,...,1.58914,7.14730,4.3347,1.152778,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Dragonmaster,1981.0,5497,8384,12424,"64,20",3.0,4.0,3.0,...,1.44458,5.80514,1.9630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Samurai,1998.0,5497,2,11883,"17,133,267,29,7340,7335,41,2973,4617,1391,8291...",2.0,4.0,2.0,...,1.18374,7.24612,2.4916,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Tal der Könige,1992.0,NaN,8008,2277,37,2.0,4.0,2.0,...,1.23365,5.70180,2.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Acquire,1964.0,5497,4,"12658,18317","92,5,4871,3082,858,2962,5392,4668,38,4622,7107",2.0,6.0,3.0,...,1.33541,7.16306,2.5057,1.090278,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_bgame.columns

Index(['bgg_id', 'name', 'year', 'game_type', 'designer', 'artist',
       'publisher', 'min_players', 'max_players', 'min_players_rec',
       'max_players_rec', 'min_players_best', 'max_players_best', 'min_age',
       'min_age_rec', 'min_time', 'max_time', 'category', 'mechanic',
       'cooperative', 'compilation', 'compilation_of', 'family',
       'implementation', 'integration', 'rank', 'num_votes', 'avg_rating',
       'stddev_rating', 'bayes_rating', 'complexity', 'language_dependency',
       'bga_id', 'dbpedia_id', 'luding_id', 'spielen_id', 'wikidata_id',
       'wikipedia_id'],
      dtype='object')

In [4]:
# In this test we will only use the Top100 games
# (1) We select the columns we need
# (2) We filter through the Top100
# (3) We count the number of categories
# (4) If necessary, we establish a relationship to see which categories
# (5) We made the matrix with numerical information

In [5]:
df_bgame = pd.read_csv(folder+'/BggGames.csv', usecols= ['bgg_id','name','category','rank'])

df_bgame.head(10)

   bgg_id                name        category    rank
0       1          Die Macher  1021,1026,1001   262.0
1       2        Dragonmaster       1002,1010  3473.0
2       3             Samurai       1009,1035   199.0
3       4      Tal der Könige            1050  4584.0
4       5             Acquire            1021   254.0
5       6  Mare Mediterraneum       1015,1008  9415.0
6       7           Cathedral            1009  1776.0
7       8   Lords of Creation       1015,1010  7799.0
8       9        El Caballero            1020  2521.0
9      10           Elfenland       1010,1097   972.0

In [6]:
df_bgame100= df_bgame[df_bgame['rank']<=100].sort_values('rank')
df_bgame100

,bgg_id,name,category,rank
66090,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0
62878,161936,Pandemic Legacy: Season 1,"1084,2145",2.0
76339,224517,Brass: Birmingham,"1021,1088,1011",3.0
64259,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0
68241,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0
...,...,...,...,...
47996,103885,Star Wars: X-Wing Miniatures Game,"2650,1023,1044,1047,1064,1016,1019",96.0
71415,196340,Yokohama,1021,97.0
85820,269385,The Lord of the Rings: Journeys in Middle-earth,"1022,1010,1046,1047,1093",98.0
66279,175155,Forbidden Stars,"1023,1046,1047,1016,1019",99.0
30098,34635,Stone Age,"1017,1021,1036",100.0

In [7]:
category_num= ','.join(df_bgame100.category).split(',')

print(np.unique(category_num))
print('Total Categories in Top 100 Boardgames: ' + str(len(np.unique(category_num))))

['1001' '1002' '1008' '1009' '1010' '1011' '1013' '1015' '1016' '1017'
 '1019' '1020' '1021' '1022' '1023' '1024' '1025' '1026' '1028' '1029'
 '1030' '1032' '1034' '1035' '1036' '1039' '1040' '1044' '1046' '1047'
 '1050' '1052' '1055' '1064' '1069' '1070' '1081' '1082' '1084' '1086'
 '1088' '1089' '1093' '1094' '1097' '1101' '1102' '1113' '1115' '1116'
 '1118' '2145' '2650' '2710' '2726']
Total Categories in Top 100 Boardgames: 55

In [8]:

df_cat = pd.read_csv(folder+'/CategoriesID.csv',sep=';', usecols=['Category','IdCat'])
df_cat.head(10)

                     Category   IdCat
0                Not category  '0000'
1           Abstract Strategy    1009
2          Action / Dexterity    1032
3                   Adventure    1022
4               Age of Reason    2726
5          American Civil War    1048
6        American Indian Wars    1108
7  American Revolutionary War    1075
8               American West    1055
9                     Ancient    1050

In [9]:
category = list(df_cat.Category)
idcategory= list(df_cat.IdCat)
dic_category = dict(zip(idcategory,category))
dic_category

{"'0000'": 'Not category',
 '1009': 'Abstract Strategy',
 '1032': 'Action / Dexterity',
 '1022': 'Adventure',
 '2726': 'Age of Reason',
 '1048': 'American Civil War',
 '1108': 'American Indian Wars',
 '1075': 'American Revolutionary War',
 '1055': 'American West',
 '1050': 'Ancient',
 '1089': 'Animals',
 '1052': 'Arabian',
 '2650': 'Aviation / Flight',
 '1023': 'Bluffing',
 '1117': 'Book',
 '1002': 'Card Game',
 '1041': "Children's Game",
 '1029': 'City Building',
 '1102': 'Civil War',
 '1015': 'Civilization',
 '1044': 'Collectible Components',
 '1116': 'Comic Book / Strip',
 '1039': 'Deduction',
 '1017': 'Dice',
 '1021': 'Economic',
 '1094': 'Educational',
 '1072': 'Electronic',
 '1084': 'Environmental',
 '1042': 'Expansion for Base-game',
 '1020': 'Exploration',
 '2687': 'Fan Expansion',
 '1010': 'Fantasy',
 '1013': 'Farming',
 '1046': 'Fighting',
 '1119': 'Game System',
 '1024': 'Horror',
 '1079': 'Humor',
 '1088': 'Industry / Manufacturing',
 '1091': 'Korean War',
 '1033': 'Mafia',
 '1104': 'Math',
 '1118': 'Mature / Adult',
 '1059': 'Maze',
 '2145': 'Medical',
 '1035': 'Medieval',
 '1045': 'Memory',
 '1047': 'Miniatures',
 '1069': 'Modern Warfare',
 '1064': 'Movies / TV / Radio theme',
 '1040': 'Murder/Mystery',
 '1054': 'Music',
 '1082': 'Mythology',
 '1051': 'Napoleonic',
 '1008': 'Renaissance',
 '1026': 'Negotiation',
 '1093': 'Novel-based',
 '1098': 'Number',
 '1030': 'Party Game',
 '1070': 'Pike and Shot',
 '1090': 'Pirates',
 '1001': 'Political',
 '2710': 'Post-Napoleonic',
 '1036': 'Prehistoric',
 '1120': 'Print & Play',
 '1028': 'Puzzle',
 '1031': 'Racing',
 '1037': 'Real-time',
 '1115': 'Religious',
 '1016': 'Science Fiction',
 '1113': 'Space Exploration',
 '1081': 'Spies/Secret Agents',
 '1038': 'Sports',
 '1086': 'Territory Building',
 '1034': 'Trains',
 '1011': 'Transportation',
 '1097': 'Travel',
 '1027': 'Trivia',
 '1101': 'Video Game Theme',
 '1109': 'Vietnam War',
 '1019': 'Wargame',
 '1025': 'Word Game',
 '1065': 'World War I',
 '1049': 'World War II',
 '2481': 'Zombies'}

In [10]:
top100cat= np.unique(category_num)
ch_top100cat= [dic_category.get(n, n) for n in top100cat]
ch_top100cat.sort()
ch_top100cat

['Abstract Strategy',
 'Action / Dexterity',
 'Adventure',
 'Age of Reason',
 'American West',
 'Ancient',
 'Animals',
 'Arabian',
 'Aviation / Flight',
 'Bluffing',
 'Card Game',
 'City Building',
 'Civil War',
 'Civilization',
 'Collectible Components',
 'Comic Book / Strip',
 'Deduction',
 'Dice',
 'Economic',
 'Educational',
 'Environmental',
 'Exploration',
 'Fantasy',
 'Farming',
 'Fighting',
 'Horror',
 'Industry / Manufacturing',
 'Mature / Adult',
 'Medical',
 'Medieval',
 'Miniatures',
 'Modern Warfare',
 'Movies / TV / Radio theme',
 'Murder/Mystery',
 'Mythology',
 'Negotiation',
 'Novel-based',
 'Party Game',
 'Pike and Shot',
 'Political',
 'Post-Napoleonic',
 'Prehistoric',
 'Puzzle',
 'Religious',
 'Renaissance',
 'Science Fiction',
 'Space Exploration',
 'Spies/Secret Agents',
 'Territory Building',
 'Trains',
 'Transportation',
 'Travel',
 'Video Game Theme',
 'Wargame',
 'Word Game']

In [12]:
df_category= df_bgame100.copy(deep= True)

df_category['Abstract Strategy']= df_category.category.apply(lambda x: 1 if '1009' in x else 0)
df_category['Action / Dexterity']= df_category.category.apply(lambda x: 1 if '1032' in x else 0)
df_category['Adventure']= df_category.category.apply(lambda x: 1 if '1022' in x else 0)
df_category['Age of Reason']= df_category.category.apply(lambda x: 1 if '2726' in x else 0)
df_category['American Civil War']= df_category.category.apply(lambda x: 1 if '1048' in x else 0)
df_category['Ancient']= df_category.category.apply(lambda x: 1 if '1050' in x else 0)
df_category['Animals']= df_category.category.apply(lambda x: 1 if '1089' in x else 0)
df_category['Arabian']= df_category.category.apply(lambda x: 1 if '1052' in x else 0)
df_category['Aviation / Flight']= df_category.category.apply(lambda x: 1 if '2650' in x else 0)
df_category['Bluffing']= df_category.category.apply(lambda x: 1 if '1023' in x else 0)
df_category['Book']= df_category.category.apply(lambda x: 1 if '1117' in x else 0)
df_category['Card Game']= df_category.category.apply(lambda x: 1 if '1002' in x else 0)
df_category["Children's Game"]= df_category.category.apply(lambda x: 1 if '1041' in x else 0)
df_category['City Building']= df_category.category.apply(lambda x: 1 if '1029' in x else 0)

In [13]:
df_category.head(50)

,bgg_id,name,category,rank,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American Civil War,Ancient,Animals,Arabian,Aviation / Flight,Bluffing,Book,Card Game,Children's Game,City Building
66090,174430,Gloomhaven,"1022,1020,1010,1046,1047",1.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
62878,161936,Pandemic Legacy: Season 1,"1084,2145",2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
76339,224517,Brass: Birmingham,"1021,1088,1011",3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
64259,167791,Terraforming Mars,"1021,1084,1088,1016,1113,1086",4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68241,182028,Through the Ages: A New Story of Civilization,"1002,1015,1021",5.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
78218,233078,Twilight Imperium (Fourth Edition),"1015,1021,1026,1001,1016,1113,1019",6.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
75669,220308,Gaia Project,"1021,1016,1113,1086",7.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
69555,187645,Star Wars: Rebellion,"1102,1046,1047,1064,1016,1019",8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10825,12333,Twilight Struggle,"1069,1001,1019",9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
70890,193738,Great Western Trail,"1055,1089",10.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
64762,169786,Scythe,"1021,1046,1016,1086",11.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50388,115746,War of the Ring: Second Edition,"1022,1010,1046,1047,1093,1086,1019",12.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
63117,162886,Spirit Island,"2726,1084,1010,1046,1082,1086",13.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
44268,84876,The Castles of Burgundy,"1017,1035,1086",14.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51459,120677,Terra Mystica,"1015,1021,1010,1086",15.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
65766,173346,7 Wonders Duel,"1050,1002,1029,1015",16.0,0,0,0,0,0,1,0,0,0,0,0,1,0,1
52464,124361,Concordia,"1050,1021,1008",17.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
25001,28720,Brass: Lancashire,"1021,1088,1011",18.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
73174,205637,Arkham Horror: The Card Game,"1022,1002,1044,1010,1024,1093",19.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
85154,266192,Wingspan,"1089,1002,1094",20.0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
68620,183394,Viticulture Essential Edition,"1021,1013",21.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
67766,180263,The 7th Continent,"1022,1002,1020,1016",22.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
67096,177736,A Feast for Odin,"1021,1088,1035,1028",23.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46597,96848,Mage Knight Board Game,"1022,1020,1010,1046",24.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
63677,164928,Orléans,"1035,1115,1097",25.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2642,3076,Puerto Rico,"1029,1021,1013",26.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
47766,102794,Caverna: The Cave Farmers,"1089,1021,1010,1013",27.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
66530,175914,Food Chain Magnate,"1021,1088",28.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27198,31260,Agricola,"1089,1021,1013",29.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
73059,205059,Mansions of Madness: Second Edition,"1022,1020,1010,1046,1024,1047,1040,1028",30.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
64163,167355,Nemesis,"1022,1024,1047,1016",31.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
64858,170216,Blood Rage,"1010,1046,1082",32.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
75813,221107,Pandemic Legacy: Season 2,"1084,1020,2145",33.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
79044,237182,Root,"1089,1010,1019",34.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
38371,55690,Kingdom Death: Monster,"1022,1010,1024,1118,1047,1082",35.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2278,2651,Power Grid,"1021,1088",36.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
73784,209010,Mechs vs. Minions,"1010,1046,1047,1101",37.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
63472,164153,Star Wars: Imperial Assault,"1022,1046,1047,1064,1016,1019",38.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
52931,126163,Tzolk'in: The Mayan Calendar,"1050,1015,1021,1013,1082",39.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
22288,25613,Through the Ages: A Story of Civilization,"1015,1021",40.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
72029,199792,Everdell,"1089,1002,1029,1010",41.0,0,0,0,0,0,0,1,0,0,0,0,1,0,1
74838,216132,Clans of Caledonia,"1021,1013",42.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42870,72125,Eclipse,"1015,1046,1016,1113,1019",43.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31002,35677,Le Havre,"1029,1021,1088,1008",44.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
77695,230802,Azul,"1009,1070",45.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
65239,171623,The Voyages of Marco Polo,"1017,1021,1035,1097",46.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51766,121921,Robinson Crusoe: Adventures on the Cursed Island,"1022,1020,1046,1093",47.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
69106,185343,Anachrony,"1021,1016",48.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52600,124742,Android: Netrunner,"1023,1002,1044,1016",49.0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
42005,68448,7 Wonders,"1050,1002,1029,1015,1021",50.0,0,0,0,0,0,1,0,0,0,0,0,1,0,1