In [90]:
import os
import pandas as pd
import numpy as np
import glob

In [91]:
%cd /Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020

/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020

In [ ]:
!ls | xargs wc -l > countfile.txt

In [92]:
df= pd.read_csv("countfile.txt", sep= " ",header = None,error_bad_lines=False, warn_bad_lines=False)
df

       0           1      2        3                    4
0    NaN         NaN    NaN  18332.0  20200101-000000.csv
1    NaN         NaN    NaN  18332.0  20200101-001107.csv
2    NaN         NaN    NaN  18243.0  20200101-202400.csv
3    NaN         NaN    NaN  18215.0  20200101-203159.csv
4    NaN         NaN    NaN  18344.0  20200101-235810.csv
...   ..         ...    ...      ...                  ...
1823 NaN         NaN    NaN  19126.0  20200707-031943.csv
1824 NaN         NaN    NaN  19126.0  20200707-034232.csv
1825 NaN         NaN    NaN  19128.0  20200708-000000.csv
1826 NaN         NaN    NaN  19131.0  20200709-000000.csv
1827 NaN  34518776.0  total      NaN                  NaN

[1828 rows x 5 columns]

In [93]:
df=pd.read_csv("countfile.txt", sep= " ",header = None, usecols=[3,4],names= ['files','datehour'],error_bad_lines=False)
df

        files             datehour
0     18332.0  20200101-000000.csv
1     18332.0  20200101-001107.csv
2     18243.0  20200101-202400.csv
3     18215.0  20200101-203159.csv
4     18344.0  20200101-235810.csv
...       ...                  ...
1953  19126.0  20200707-034232.csv
1954  19128.0  20200708-000000.csv
1955  19131.0  20200709-000000.csv
1956      NaN                 1836
1957      NaN                  NaN

[1958 rows x 2 columns]

In [94]:
df[['date', 'hour']] = df['datehour'].str.split('-', n=1, expand=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv
1956      NaN                 1836      1836        None
1957      NaN                  NaN       NaN         NaN

[1958 rows x 4 columns]

In [95]:
df.columns

Index(['files', 'datehour', 'date', 'hour'], dtype='object')

In [96]:
df.shape

(1958, 4)

In [97]:
df.dropna(inplace=True)
df

        files             datehour      date        hour
0     18332.0  20200101-000000.csv  20200101  000000.csv
1     18332.0  20200101-001107.csv  20200101  001107.csv
2     18243.0  20200101-202400.csv  20200101  202400.csv
3     18215.0  20200101-203159.csv  20200101  203159.csv
4     18344.0  20200101-235810.csv  20200101  235810.csv
...       ...                  ...       ...         ...
1951  19126.0  20200707-031445.csv  20200707  031445.csv
1952  19126.0  20200707-031943.csv  20200707  031943.csv
1953  19126.0  20200707-034232.csv  20200707  034232.csv
1954  19128.0  20200708-000000.csv  20200708  000000.csv
1955  19131.0  20200709-000000.csv  20200709  000000.csv

[1827 rows x 4 columns]

In [98]:
df.set_index('date', inplace=True)
df.head()

            files             datehour        hour
date
20200101  18332.0  20200101-000000.csv  000000.csv
20200101  18332.0  20200101-001107.csv  001107.csv
20200101  18243.0  20200101-202400.csv  202400.csv
20200101  18215.0  20200101-203159.csv  203159.csv
20200101  18344.0  20200101-235810.csv  235810.csv

In [99]:
df.loc['20200105'].max()

files                     18361
datehour    20200105-203204.csv
hour                 203204.csv
dtype: object

In [100]:
df.index

Index(['20200101', '20200101', '20200101', '20200101', '20200101', '20200102',
       '20200102', '20200102', '20200102', '20200102',
       ...
       '20200706', '20200706', '20200706', '20200706', '20200707', '20200707',
       '20200707', '20200707', '20200708', '20200709'],
      dtype='object', name='date', length=1827)

In [101]:
gby= df.groupby('date').agg('max')
gby

            files             datehour        hour
date
20200101  18344.0  20200101-235810.csv  235810.csv
20200102  18344.0  20200102-203205.csv  203205.csv
20200103  18353.0  20200103-203201.csv  203201.csv
20200104  18356.0  20200104-203157.csv  203157.csv
20200105  18361.0  20200105-203204.csv  203204.csv
...           ...                  ...         ...
20200705  19121.0  20200705-215608.csv  215608.csv
20200706  19126.0  20200706-213046.csv  213046.csv
20200707  19126.0  20200707-034232.csv  034232.csv
20200708  19128.0  20200708-000000.csv  000000.csv
20200709  19131.0  20200709-000000.csv  000000.csv

[191 rows x 3 columns]

In [ ]:
!mkdir "Newfolder_Rank_2020"

In [ ]:
!ls

In [ ]:
np.savetxt('20200825_test.txt', gby['datehour'], delimiter=",", fmt="%s")

In [ ]:
#Probar mañana

path1 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020"
path2 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Prueba"
os.chdir(path1)
list_file = open('20200825_test.txt', "r")
listado = list_file.read().splitlines()

for file in listado:
    if file in os.listdir(path1):
        file = os.path.join(path1, file)
        print(file)
        os.popen(os.path.join(path2,f))
    else:
        print('file does not exist: filename')
list_file.close()

In [ ]:
import shutil
path1 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/R_2020"
path2 = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Untitled Folder"
os.chdir(path)
list_file = open('20200825_test.txt', "r")
listado = list_file.read().splitlines()
list_file.close()
for file in listado:
    if file in os.listdir(path1):
        file = os.path.join(path1, file)
        print(file)
        shutil.copy(file, path2)
    else:
        print('file does not exist: filename')

In [102]:
path = "/Users/postigo/Documents/20200702_DatasetTFM/20200705_Notebooks/Data/Untitled Folder"

all_files = glob.glob(os.path.join(path, "2020*.csv"))

all_df = []
for f in all_files:
    df = pd.read_csv(f, sep=',')
    df['file'] = f.split('/')[-1]
    df[['date', 'hour']] = df['file'].str.split('-', n=1, expand=True)
    all_df.append(df)
    
merged_df = pd.concat(all_df, ignore_index=True)
merged_df

          rank  bgg_id  score                 file      date        hour
0            1  174430  8.584  20200124-203159.csv  20200124  203159.csv
1            2  161936  8.471  20200124-203159.csv  20200124  203159.csv
2            3  167791  8.269  20200124-203159.csv  20200124  203159.csv
3            4  182028  8.236  20200124-203159.csv  20200124  203159.csv
4            5  224517  8.214  20200124-203159.csv  20200124  203159.csv
...        ...     ...    ...                  ...       ...         ...
3566339  18758   16398  3.998  20200413-215329.csv  20200413  215329.csv
3566340  18759    7316  3.914  20200413-215329.csv  20200413  215329.csv
3566341  18760    5048  3.775  20200413-215329.csv  20200413  215329.csv
3566342  18761    5432  3.599  20200413-215329.csv  20200413  215329.csv
3566343  18762   11901  3.525  20200413-215329.csv  20200413  215329.csv

[3566344 rows x 6 columns]

In [103]:
days=list(merged_df['date'].unique())
days

['20200124',
 '20200102',
 '20200626',
 '20200427',
 '20200404',
 '20200503',
 '20200615',
 '20200129',
 '20200613',
 '20200415',
 '20200215',
 '20200305',
 '20200524',
 '20200519',
 '20200604',
 '20200510',
 '20200618',
 '20200625',
 '20200509',
 '20200706',
 '20200620',
 '20200606',
 '20200318',
 '20200106',
 '20200307',
 '20200511',
 '20200403',
 '20200405',
 '20200104',
 '20200209',
 '20200301',
 '20200526',
 '20200611',
 '20200610',
 '20200204',
 '20200116',
 '20200628',
 '20200101',
 '20200310',
 '20200501',
 '20200504',
 '20200505',
 '20200409',
 '20200601',
 '20200128',
 '20200202',
 '20200110',
 '20200421',
 '20200201',
 '20200130',
 '20200108',
 '20200125',
 '20200206',
 '20200205',
 '20200228',
 '20200621',
 '20200303',
 '20200220',
 '20200507',
 '20200513',
 '20200302',
 '20200212',
 '20200119',
 '20200326',
 '20200614',
 '20200603',
 '20200624',
 '20200111',
 '20200430',
 '20200528',
 '20200208',
 '20200619',
 '20200622',
 '20200516',
 '20200217',
 '20200121',
 '20200608',
 '20200118',
 '20200629',
 '20200701',
 '20200320',
 '20200525',
 '20200122',
 '20200123',
 '20200114',
 '20200522',
 '20200311',
 '20200317',
 '20200406',
 '20200329',
 '20200414',
 '20200313',
 '20200225',
 '20200203',
 '20200323',
 '20200402',
 '20200708',
 '20200105',
 '20200508',
 '20200422',
 '20200515',
 '20200527',
 '20200514',
 '20200227',
 '20200319',
 '20200506',
 '20200623',
 '20200520',
 '20200417',
 '20200210',
 '20200330',
 '20200704',
 '20200314',
 '20200325',
 '20200120',
 '20200412',
 '20200331',
 '20200112',
 '20200612',
 '20200419',
 '20200103',
 '20200117',
 '20200512',
 '20200630',
 '20200328',
 '20200223',
 '20200308',
 '20200420',
 '20200416',
 '20200327',
 '20200702',
 '20200312',
 '20200428',
 '20200531',
 '20200131',
 '20200616',
 '20200517',
 '20200214',
 '20200401',
 '20200126',
 '20200226',
 '20200211',
 '20200418',
 '20200107',
 '20200324',
 '20200607',
 '20200423',
 '20200304',
 '20200602',
 '20200426',
 '20200216',
 '20200502',
 '20200229',
 '20200408',
 '20200518',
 '20200709',
 '20200221',
 '20200617',
 '20200115',
 '20200322',
 '20200315',
 '20200213',
 '20200529',
 '20200127',
 '20200605',
 '20200109',
 '20200306',
 '20200316',
 '20200424',
 '20200530',
 '20200707',
 '20200627',
 '20200218',
 '20200407',
 '20200425',
 '20200703',
 '20200321',
 '20200113',
 '20200224',
 '20200411',
 '20200609',
 '20200222',
 '20200523',
 '20200207',
 '20200410',
 '20200521',
 '20200219',
 '20200429',
 '20200309',
 '20200705',
 '20200413']

In [19]:
r10= merged_df[merged_df['rank']<11]

In [23]:
top10= r10.groupby(['bgg_id','rank'])['rank'].count()
top10.head(30)

bgg_id  rank
12333   7        80
        8        72
        9        39
161936  2       191
167791  3       155
        4        36
169786  10       39
174430  1       191
182028  4        54
        5       137
187645  7       111
        8        80
193738  10      152
220308  8        39
        9       152
224517  3        36
        4       101
        5        54
233078  6       191
Name: rank, dtype: int64

In [ ]:
r10.groupby(['bgg_id','rank'])['rank'].count()

In [ ]:
r100= merged_df[merged_df['rank']<101]

In [ ]:
a= r100.groupby(['bgg_id','rank'])['rank'].count()

In [ ]:
a.to_csv('r100.csv')

In [16]:
b= merged_df.groupby(['bgg_id','rank'])['rank'].count()
b.head(50)

bgg_id  rank
1       245      1
        246      6
        247      8
        248      2
        249      6
        250     18
        251      1
        252     35
        253     16
        254     17
        255     32
        256      8
        257      6
        258      3
        259      1
        260     10
        261     10
        262      6
        263      5
2       3371     2
        3375     2
        3380     1
        3382     2
        3383     1
        3384     5
        3386     2
        3389     3
        3390     1
        3392     1
        3393     1
        3394     2
        3395     3
        3396     2
        3397     1
        3399     1
        3400     1
        3407     1
        3410     2
        3412     1
        3415     3
        3416     2
        3417     1
        3419     2
        3422     2
        3424     1
        3427     1
        3429     3
        3430     4
        3431     9
        3432     7
Name: rank, dtype: int64

In [108]:
bggid= merged_df[merged_df['bgg_id']==174430]
bggid

         rank  bgg_id  score                 file      date        hour
0           1  174430  8.584  20200124-203159.csv  20200124  203159.csv
18410       1  174430  8.585  20200102-203205.csv  20200102  203205.csv
36722       1  174430  8.573  20200626-224547.csv  20200626  224547.csv
55806       1  174430  8.575  20200427-225821.csv  20200427  225821.csv
74626       1  174430  8.577  20200404-234321.csv  20200404  234321.csv
...       ...     ...    ...                  ...       ...         ...
3472390     1  174430  8.580  20200219-212020.csv  20200219  212020.csv
3490972     1  174430  8.575  20200429-232019.csv  20200429  232019.csv
3509798     1  174430  8.581  20200309-235622.csv  20200309  235622.csv
3528462     1  174430  8.573  20200705-215608.csv  20200705  215608.csv
3547582     1  174430  8.577  20200413-215329.csv  20200413  215329.csv

[191 rows x 6 columns]

In [111]:
bggid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 3547582
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rank    191 non-null    int64
 1   bgg_id  191 non-null    int64
 2   score   191 non-null    float64
 3   file    191 non-null    object
 4   date    191 non-null    object
 5   hour    191 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 10.4+ KB

In [115]:
bggid.groupby(['bgg_id','rank']).agg({'score': 'sum'})

               score
bgg_id rank
174430 1     1638.42

In [43]:
prueba= merged_df.groupby(['bgg_id','rank']).agg({'score': 'sum'})
prueba

               score
bgg_id rank
1      245     7.160
       246    42.955
       247    57.268
       248    14.318
       249    42.958
...              ...
310100 13288   5.518
       13289   5.518
       13291   5.518
       13293   5.518
       13294   5.518

[2342411 rows x 1 columns]